<section *ngIf="applicationDeployers">
<div class="grid_24">

	<div class="grid_16 alpha">
		<h3 *ngIf="applicationDeployers.length==0">No applications registered yet</h3>
	
		<div *ngFor="#applicationDeployer of applicationDeployers">
			<form>
				<input type="text" [(ngModel)]="applicationDeployer.name" class="form-control" readonly hidden>
		    <input type="text" [(ngModel)]="applicationDeployer.repoUri" class="form-control" readonly hidden>
		    
				<h3>{{ applicationDeployer.name }}</h3>
				<h5>{{ applicationDeployer.repoUri }}</h5>

				<div *ngIf="applicationDeployer.deploying || applicationDeployer.destroying" class="loader-icon"></div>
				<!-- <div *ngFor="#aParam of applicationDeployer.parameters">
					<p>Use 
					<select (change)="selectVolume($event, applicationDeployer, $event.target.value)">
			    	<option value="null">None</option>
			      <option *ngFor="#volumeInstance of volumeInstances" [value]="volumeInstance.reference">{{volumeInstance.reference}}</option>
			    </select> to obtain {{ aParam }}</p>
				</div> -->
				<div *ngFor="#aVolume of applicationDeployer.volumes">
					<p>Use 
					<select (change)="attachVolume($event, applicationDeployer, aVolume, $event.target.value)">
			    	<option value="null">None</option>
			      <option *ngFor="#volumeInstance of volumeInstances" [value]="volumeInstance.reference">{{volumeInstance.reference}}</option>
			    </select> as volume {{ aVolume }}</p>
				</div>
				<!-- <div>
					<p>Use 
			    <select (change)="selectVolume($event, applicationDeployer, aVolume, $event.target.value)">
			    	<option value="null">None</option>
			      <option *ngFor="#volumeInstance of volumeInstances" [value]="volumeInstance.reference">{{volumeInstance.reference}}</option>
			    </select> as attached volume</p>
				</div> -->
				<div style="margin-left:10px" *ngIf="!applicationDeployer.deploying && !applicationDeployer.destroying">
				    <button (click)="deployApplication($event, applicationDeployer)" class="icon icon-functional" data-icon="}">Deploy</button>
		    		<button style="margin-left:10px" class="grid_8"(click)="removeApplication($event, applicationDeployer)" class="icon icon-functional" data-icon="d">Remove</button>
    		</div>
	    </form>
	    <br>
		</div>
	</div>

	<div class="grid_8 omega">
		<h3>Add application</h3>
		<form [ngFormModel]="applicationForm" (submit)="addApplication($event)">
	    <input ngControl="repoUri" type="url" placeholder="Repository URI">
	  <button type="submit">Add</button>
	</form>
	</div>

</div>

</section>