<section *ngIf="applicationDeployers">
<div class="grid_24">

	<div class="grid_16 alpha">
		<div *ngFor="#applicationDeployer of applicationDeployers">
			<h3>{{ applicationDeployer.name }}</h3>
			<h5>{{ applicationDeployer.repoUri }}</h5>
			<div *ngIf="applicationDeployer.deploying || applicationDeployer.destroying" class="loader-icon"></div>
			<form *ngIf="!applicationDeployer.deploying && !applicationDeployer.destroying ">
				<input type="text" [(ngModel)]="applicationDeployer.name" class="form-control" readonly hidden>
		    <input type="text" [(ngModel)]="applicationDeployer.repoUri" class="form-control" readonly hidden>
	      <button (click)="deployApplication($event, applicationDeployer)" class="icon icon-functional" data-icon="}">Deploy</button>
	      <button (click)="removeApplication($event, applicationDeployer)" class="icon icon-functional" data-icon="d">Remove</button>
	    </form>
	    <br>
		</div>
	</div>

	<div class="grid_8 omega">
		<h3>Add application</h3>
		<add-application-form></add-application-form>
	</div>

</div>

</section>