<cp-configuration-component #configurationDetail>
  <div class="content">
    <div class="detail-card-container">
      <mat-card *ngIf="configurationDetail.configurationPresenter">
        <span class="flex-container-wide">
          <mat-icon class="card-type-icon">settings_applications</mat-icon>
          <h3>{{ configurationDetail.configurationPresenter.name }}</h3>
          <span class="fill-remaining-space"></span>
          <span *ngIf="!configurationDetail.configurationPresenter.isShared">
            <button mat-icon-button (click)="openEditConfigurationDialog(configurationDetail)">
            <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="openShareConfigurationDialog(configurationDetail)">
                <mat-icon>share</mat-icon>
              </button>
            <button mat-icon-button color="warn" (click)="openConfirmDeleteDialog(configurationDetail)">
                <mat-icon>delete_forever</mat-icon>
            </button>
          </span>
          <span *ngIf="configurationDetail.configurationPresenter.isShared">
            <p>SHARED</p>
          </span>
        </span>
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngIf="configurationDetail.configurationPresenter.isShared">
              <h3 matLine>Owned by</h3>
              <p matLine class="param-value">{{ configurationDetail.configurationPresenter.accountGivenName }}</p>
              </mat-list-item>
              <mat-list-item *ngIf="configurationDetail.configurationPresenter.sharedWithTeamNames && configurationDetail.configurationPresenter.sharedWithTeamNames.length>0">
                <h3 matLine>Included in teams</h3>
                <p *ngFor="let teamName of configurationDetail.configurationPresenter.sharedWithTeamNames" matLine class="param-value">{{ teamName }}
                  <button *ngIf="!configurationDetail.configurationPresenter.isShared" mat-icon-button color="warn" (click)="configurationDetail.unshare(teamName)">
                    <mat-icon>highlight_off</mat-icon>
                  </button>
              </p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon class="card-type-icon">vpn_key</mat-icon>
                <h3 matLine>Cloud provider</h3>
                <p matLine class="param-value">{{ configurationDetail.configurationPresenter.cloudProviderParametersName }}</p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon class="card-type-icon">settings_applications</mat-icon>
                <h3 matLine>Parameters</h3>
                <p matLine class="param-value">{{ configurationDetail.configurationPresenter.deploymentParametersName }}</p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon class="card-type-icon">lock_open</mat-icon>
              <h3 matLine>SSH Public Key</h3>
              <p matLine class="param-value">{{ configurationDetail.configurationPresenter.sshKey }}</p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon class="card-type-icon">pan_tool</mat-icon>
                <h3 matLine>Usage limits</h3>
                <p matLine class="param-value">Total usage: {{ configurationDetail.configurationPresenter.totalUsage | number : '1.2-2'}}</p>
                <p *ngIf="!(configurationDetail.configurationPresenter.softUsageLimit>=0.0 || configurationDetail.configurationPresenter.softUsageLimit>=0.0)" matLine class="param-value">No usage limits for this configuration</p>
                <p *ngIf="configurationDetail.configurationPresenter.softUsageLimit>=0.0" matLine class="param-value">Soft limit: {{ configurationDetail.configurationPresenter.softUsageLimit }}</p>
                <p *ngIf="configurationDetail.configurationPresenter.hardUsageLimit>=0.0" matLine class="param-value">Hard limit: {{ configurationDetail.configurationPresenter.hardUsageLimit }}</p>
              </mat-list-item>
            <h3 *ngIf="!configurationDetail.isShared && configurationDetail.deploymentInstances && configurationDetail.deploymentInstances.length>0">Associated deployments
              <button mat-icon-button
                (click)="generateStats(configurationDetail);">
                <mat-icon>timeline</mat-icon>
              </button>
            </h3>
            <mat-toolbar>
              <mat-checkbox class="inner-toolbar-checkbox" [checked]="hideDestroyed" (change)="switchDestroyed(configurationDetail)">
                Hide destroyed deployments
              </mat-checkbox>
            </mat-toolbar>
            <div class="wide-summary-card-container">
              <mat-list-item *ngIf="!configurationDetail.isShared && configurationDetail.deploymentInstances && configurationDetail.deploymentInstances.length>0">
                <div style="display: flex;">
                <div style="width: 150px">
                    <div matLine>Reference</div>
                </div>
                <div style="width: 100px">
                    <div matLine>Status</div>
                </div>
                <div style="width: 150px">
                    <div matLine>Owner</div>
                </div>
                <div style="width: 150px; text-align: right;">
                  <div matLine>Running time</div>
                </div>
                <div style="width: 100px; text-align: right;">
                  <div matLine>Instances</div>
                </div>
                <div style="width: 100px; text-align: right;">
                  <div matLine>vCPUs</div>
                </div>
                <div style="width: 100px; text-align: right;">
                  <div matLine>RAM GB</div>
                </div>
                <div style="width: 100px; text-align: right;">
                  <div matLine>Disk GB</div>
                </div>
                </div>
            </mat-list-item>
            <span *ngFor="let deploymentInstance of ( configurationDetail.deploymentInstances | deploymentStatus:statusFilters )">
              <mat-list-item *ngIf="deploymentInstance.deployedTime">
                <div *ngIf="deploymentInstance.deployedTime" style="display: flex;">
                  <div style="width: 150px">
                    <p matLine class="param-value"><a href="./deployments/{{deploymentInstance.reference }}" target="_blank">{{ deploymentInstance.reference }}</a></p>
                  </div>
                  <div style="width: 100px">
                    <p matLine class="param-value">{{ deploymentInstance.status }}</p>
                  </div>
                  <div style="width: 150px">
                    <p matLine class="param-value">{{ deploymentInstance.accountGivenName }}</p>
                  </div>
                  <div style="width: 150px; text-align: right;">
                    <p matLine class="param-value">{{ getTimeToDisplay(deploymentInstance.totalRunningTime) }}</p>
                  </div>
                  <div style="width: 100px; text-align: right;">
                    <p matLine class="param-value">{{ deploymentInstance.instanceCount }}</p>
                  </div>
                  <div style="width: 100px; text-align: right;">
                    <p matLine class="param-value">{{ deploymentInstance.totalVcpus }}</p>
                  </div>
                  <div style="width: 100px; text-align: right;">
                    <p matLine class="param-value">{{ deploymentInstance.totalRamGb }}</p>
                  </div>
                  <div style="width: 100px; text-align: right;">
                    <p matLine class="param-value">{{ deploymentInstance.totalDiskGb }}</p>
                  </div>
                  <div style="width: 150px; text-align: right;">
                    <button mat-raised-button *ngIf="deploymentInstance.status == 'RUNNING' || deploymentInstance.status == 'STARTING'" mat-raised-button class="button-color-accent"  (click)="openConfirmDestroyDialog(configurationDetail, deploymentInstance )">
                     DESTROY
                    </button>
                    <button mat-raised-button *ngIf="deploymentInstance.status == 'STARTING_FAILED' || deploymentInstance.status == 'DESTROYING_FAILED' || deploymentInstance.status == 'RUNNING_FAILED'" mat-raised-button class="button-color-accent"  (click)="openConfirmDestroyDialog(configurationDetail, deploymentInstance )">
                    FORCE DESTROY
                    </button>
                  </div>
                </div>
              </mat-list-item>
            </span>
          </mat-list>
        </mat-card-content>
      </mat-card>

    </div>

  </div>

</cp-configuration-component>
