<cp-configuration-component #configurationDetail>
  <div class="content">
    <div class="detail-card-container">
      <md-card *ngIf="configurationDetail.configurationPresenter">
          <span class="md-toolbar flex-container-wide">
             <md-icon class="card-type-icon">extension</md-icon>
             <h3>{{ configurationDetail.configurationPresenter.name }}</h3>
             <span class="fill-remaining-space"></span>
             <span *ngIf="!configurationDetail.configurationPresenter.isShared">
             <button md-icon-button (click)="openEditConfigurationDialog(configurationDetail)">
              <md-icon>edit</md-icon> 
             </button> 
             <button md-icon-button (click)="openShareConfigurationDialog(configurationDetail)">
                 <md-icon>share</md-icon> 
               </button>
               <button md-icon-button color="warn" (click)="configurationDetail.remove()">
                 <md-icon>delete_forever</md-icon> 
              </button>
            </span>
            <span *ngIf="configurationDetail.configurationPresenter.isShared">
               <p>SHARED</p>
            </span>
        </span>
        <md-card-content>
        <span class="flex-container-wide">
          <span class="flex-container-wide">
            <md-list dense>
              <md-list-item *ngIf="configurationDetail.configurationPresenter.isShared">
                <h3 md-line>Owned by</h3>
                 <p md-line class="param-value">{{ configurationDetail.configurationPresenter.accountEmail }}</p>
               </md-list-item>
               <md-list-item *ngIf="configurationDetail.configurationPresenter.sharedWithTeamNames && configurationDetail.configurationPresenter.sharedWithTeamNames.length>0">
                 <h3 md-line>Included in teams</h3>
                 <p *ngFor="let teamName of configurationDetail.configurationPresenter.sharedWithTeamNames" md-line class="param-value">{{ teamName }}
                   <button *ngIf="!configurationDetail.configurationPresenter.isShared" md-icon-button color="warn" (click)="configurationDetail.unshare(teamName)">
                     <md-icon>highlight_off</md-icon> 
                   </button>
                </p>
              </md-list-item>
             <md-list-item>
				      	<md-icon md-list-icon class="card-type-icon">vpn_key</md-icon>
				      	<h3 md-line>Cloud provider parameters</h3>
				      	<p md-line class="param-value">{{ configurationDetail.configurationPresenter.cloudProviderParametersName }}</p>
			       </md-list-item>
			    	<md-list-item>
				    	<md-icon md-list-icon class="card-type-icon">lock_open</md-icon>
				    	<h3 md-line>SSH Public Key</h3>
				    	<p md-line class="param-value">{{ configurationDetail.configurationPresenter.sshKey }}</p>
			      </md-list-item>
				   <md-list-item>
						  <md-icon md-list-icon class="card-type-icon">settings_applications</md-icon>
        	  	<h3 md-line>Parameters</h3>
					  	<p md-line class="param-value">{{ configurationDetail.configurationPresenter.deploymentParametersName }}</p>
			  	</md-list-item>
        </md-list>
        </span>
        </span>
        </md-card-content>
      </md-card>
    </div>
  </div>
</cp-configuration-component>