<section *ngIf="deployments">
	
	<h2>Deployments for user {{ credentials.getUsername() }}</h2>
	<br>
	<div *ngFor="#deployment of deployments">
		<h3>{{ deployment.reference }}</h3>
		<h4>{{ deployment.providerId }}</h4>
		<h4>{{ deployment.accessIp }}</h4>
		<form>
			<input type="text" [(ngModel)]="deployment.reference" class="form-control" readonly hidden>
	    <span class="input-group-btn">
	      <button class="btn" (click)="destroyDeployment(deployment.reference)" class="submit">Destroy</button>
	    </span>
    </form>
    <br>
	</div>

</section>