[md-fab] {
  position: absolute;
  right: 40px;
  top: 70px;
  z-index: 2;
  background: var(--complementary-color);
}
[md-mini-fab] {
  position: absolute;
  right: 40px;
  top: 77px;
  z-index: 2;
  background: var(--complementary-color);
}
