<cp-repository-component #repo>

  <button md-fab (click)="addApplicationFormShowing=!addApplicationFormShowing">
    <md-icon>add</md-icon>
  </button>

  <md-card *ngIf="addApplicationFormShowing">
    <md-card-title>Add application</md-card-title>
    <md-card-content>
      <form [formGroup]="applicationForm" autocomplete="off">
        <md-input type="url" placeholder="Repository URI" [formControl]="applicationForm.controls['repoUri']" autofocus>
        </md-input>
        <div *ngIf="!applicationForm.controls['repoUri'].valid" class="ui error message">URI is invalid</div>
        <div *ngIf="applicationForm.controls['repoUri'].hasError('required')" class="ui error message">URI is required</div>
      </form>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button color="accent" (click)="addApplication(applicationForm.value); addApplicationFormShowing = false"
        align="end">Add</button>
    </md-card-actions>
  </md-card>

  <md-content *ngIf="repo.applicationDeployers">

    <md-card *ngIf="repo.applicationDeployers.length==0">
      No applications registered yet
    </md-card>

    <div class="card-container">
      <md-card *ngFor="let applicationDeployer of repo.applicationDeployers">
        <md-card-title-group>
          <md-card-title>
            <md-icon>settings_application</md-icon> {{ applicationDeployer.name }}
          </md-card-title>
          <md-card-subtitle><a href="{{ applicationDeployer.repoUri }}">{{ applicationDeployer.repoUri }}</a></md-card-subtitle>
        </md-card-title-group>
        <md-card-content>
          <md-list dense>
            <h3 md-subheader>Volumes</h3>
            <md-list-item *ngFor="let aVolume of applicationDeployer.volumes">
              <h3 md-line>{{ aVolume }}</h3>
              <select md-line (change)="attachVolume(applicationDeployer, aVolume, $event.target.value)">
                <option value="null">None</option>
                <option *ngFor="let volumeInstance of volumeInstances" [value]="volumeInstance.reference">{{volumeInstance.reference}}</option>
              </select>
            </md-list-item>
          </md-list>
        </md-card-content>

        <md-progress-bar *ngIf="applicationDeployer.deploying || applicationDeployer.destroying" mode="indeterminate"></md-progress-bar>

        <md-card-actions align="end" *ngIf="!applicationDeployer.deploying && !applicationDeployer.destroying">
          <button md-icon-button color="accent" (click)="deployApplication(applicationDeployer)">
              <md-icon>cloud_upload</md-icon>
            </button>
          <button md-icon-button color="warn" (click)="removeApplication(applicationDeployer)">
              <md-icon>clear</md-icon> 
            </button>
        </md-card-actions>

      </md-card>
    </div>
  </md-content>

</cp-repository-component>