[md-fab] {
  position: absolute;
  right: 20px;
  top: 45px;
  z-index: 2;
  background: var(--complementary-color);
}
[md-mini-fab] {
  position: absolute;
  right: 20px;
  top: 0px;
  z-index: 2;
  background: var(--complementary-color);
}
