<cp-repository-component #repo>

  <button mat-fab (click)="openAddApplicationDialog(repo)">
    <mat-icon>add</mat-icon>
  </button>

  <div class="content" *ngIf="repo.applicationDeployers">

    <mat-card class="background-card" *ngIf="repo.applicationDeployers.length==0 && repo.sharedApplicationDeployers.length==0">
      No applications registered yet
    </mat-card>

    <div class="summary-card-container">
      <mat-card [routerLink]=" ['/repository/', applicationDeployer.name]" *ngFor="let applicationDeployer of repo.applicationDeployers | applicationCloudProvider:cloudProviderFilters">
        <span class="flex-container-wide">
        <h3>{{ applicationDeployer.name }}</h3>
        </span>
        <mat-card-content>
          <mat-list dense>
            <mat-list-item>
              <p>{{ applicationDeployer.about }}</p>
            </mat-list-item>
            <mat-list-item>
              <h3 matLine>Version</h3>
              <p matLine class="param-value">{{ applicationDeployer.version }}</p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <!--Shared applications-->
      <mat-card [routerLink]=" ['/repository/shared/', applicationDeployer.name]" *ngFor="let applicationDeployer of repo.sharedApplicationDeployers | applicationCloudProvider:cloudProviderFilters">
        <span class="flex-container-wide">
          <h3>{{ applicationDeployer.name }}</h3>
          <span class="fill-remaining-space"></span>
          <p>SHARED</p>
        </span>
        <mat-card-content>
          <mat-list dense>
            <mat-list-item>
              <p>{{ applicationDeployer.about }}</p>
            </mat-list-item>
            <mat-list-item>
              <h3 matLine>Version</h3>
              <p matLine class="param-value">{{ applicationDeployer.version }}</p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- card-container -->
  </div>

</cp-repository-component>