<section>
<div class="grid_24">

	<div class="grid_16 alpha" *ngIf="volumeInstanceDeployments">
	<h3 *ngIf="volumeInstanceDeployments.length==0">No volume deployments for user {{ credentialService.getUsername() }} yet</h3>
		<div *ngFor="#volumeInstanceDeployment of volumeInstanceDeployments">
			<h3>{{ volumeInstanceDeployment.reference }}</h3>
			<p>ID: {{ volumeInstanceDeployment.providerId }}</p>
			<div *ngIf="volumeInstanceDeployment.destroying" class="loader-icon"></div>
			<form *ngIf="!volumeInstanceDeployment.destroying">
				<input type="text" [(ngModel)]="volumeInstanceDeployment.reference" class="form-control" readonly hidden>
		    <input type="text" [(ngModel)]="volumeInstanceDeployment.providerId" class="form-control" readonly hidden>
	      <button (click)="destroyVolume($event, volumeInstanceDeployment)" class="icon icon-functional" data-icon="d">Destroy</button>
	    </form>
	    <br>
		</div>
	</div>

	<div class="grid_8 alpha" *ngIf="volumeDeployers">
		<h3>Available volume setups</h3>
		<form [ngFormModel]="volumeSetupForm" (submit)="addVolumeSetup($event)">
    	<input ngControl="repoUri" type="url" placeholder="Repository URI">
  		<button type="submit">Add</button>
		</form>
		<br>
		<div *ngFor="#volumeDeployer of volumeDeployers">
			<h4>{{ volumeDeployer.name }}</h4>
			<p>URI: {{ volumeDeployer.repoUri }}</p>
			<div *ngIf="volumeDeployer.deploying || volumeDeployer.removing" class="loader-icon"></div>
			<form *ngIf="!volumeDeployer.deploying && !volumeDeployer.removing ">
				<input type="text" [(ngModel)]="volumeDeployer.name" class="form-control" readonly hidden>
		    <input type="text" [(ngModel)]="volumeDeployer.repoUri" class="form-control" readonly hidden>
	      <button (click)="deployVolume($event, volumeDeployer)" class="icon icon-functional" data-icon="}">Deploy</button>
				<button (click)="removeVolumeSetup($event, volumeDeployer)" class="icon icon-functional" data-icon="d">Remove</button>
	    </form>
	    <br>
		</div>

	</div>



</div>

</section>