<cp-teams-component #teamsComponent>

	<button mat-fab (click)="openAddTeamDialog()">
		<mat-icon>add</mat-icon>
	</button>

	<div class="content">

		<mat-toolbar>
			<span class="fill-remaining-space"></span>
			<mat-icon class="card-type-icon" style="color: gray">search</mat-icon>
			<mat-form-field>
				<input matInput #searchBox placeholder="Search">
			</mat-form-field>
		</mat-toolbar>

		<mat-card class="background-card" *ngIf="!teamsComponent.teamPresenters || teamsComponent.teamPresenters.length==0">
			No teams in this community
		</mat-card>

		<div class="mat-content" *ngIf="teamsComponent.teamPresenters">
			<span class="wide-summary-card-container">
			<mat-card [routerLink]=" ['/team/', teamPresenter.name]" *ngFor="let teamPresenter of teamsComponent.teamPresenters | teamName:searchBox.value" class="credentials-container">
				<span class="flex-container-wide">
					<mat-icon class="card-type-icon">group</mat-icon><h3>{{ teamPresenter.name }}</h3>
					<span class="fill-remaining-space"></span>
					<p *ngIf="teamPresenter.isOwner">OWNER</p>
				</span>
				<mat-card-content>

				</mat-card-content>
			</mat-card>
			</span>
		</div> <!-- mat-content -->
	</div> <!-- content -->

</cp-teams-component>