<cp-deployment-component #deploymentDetail>
  <div class="content">
    <div class="detail-card-container">
      <mat-card *ngIf="deploymentDetail.deploymentInstance">
        <span class="flex-container-wide">
          <mat-icon *ngIf="deploymentDetail.deploymentInstance.status == 'STARTING_FAILED'" class="card-type-icon">error</mat-icon>
          <mat-icon *ngIf="deploymentDetail.deploymentInstance.status == 'DESTROYED'" class="card-type-icon">cloud_off</mat-icon>
          <mat-icon *ngIf="deploymentDetail.deploymentInstance.status == 'DESTROYING' || deploymentDetail.deploymentInstance.status == 'STARTING'"
            class="card-type-icon">cloud_queue</mat-icon>
          <mat-icon *ngIf="deploymentDetail.deploymentInstance.status == 'RUNNING'" class="card-type-icon">cloud_done</mat-icon>
          <h3>{{ deploymentDetail.deploymentInstance.applicationName }}</h3>
          <p>{{ deploymentDetail.deploymentInstance.reference }}</p>
          <span class="fill-remaining-space"></span>
        </span>

        <mat-card-content>
          <mat-horizontal-stepper>
            <mat-step *ngIf="deploymentDetail.deploymentInstance.startedTime" 
              selected="deploymentDetail.deploymentInstance.status=='STARTING'"
              completed="false">
              <ng-template matStepLabel>
                <mat-list>
                  <mat-list-item>
                    <span matLine>Started</span>
                    <span matLine>{{ fromTimeStampToDateAndTime(deploymentDetail.deploymentInstance.startedTime) }}</span>
                  </mat-list-item>
                </mat-list>
              </ng-template>
              <p>The deployment request was received at {{ fromTimeStampToDateAndTime(deploymentDetail.deploymentInstance.startedTime) }}</p>
            </mat-step>
            <mat-step *ngIf="deploymentDetail.deploymentInstance.failedTime"
              selected="(deploymentDetail.deploymentInstance.status=='STARTING_FAILED') || (deploymentDetail.deploymentInstance.status=='DESTROYING_FAILED')"
              completed="false">
              <ng-template matStepLabel>
                <mat-list>
                  <mat-list-item>
                    <span matLine>Failed</span>
                    <span matLine>{{ fromTimeStampToDateAndTime(deploymentDetail.deploymentInstance.failedTime) }}</span>
                  </mat-list-item>
                </mat-list>
              </ng-template>
              <p>The deploymentfailed at {{ fromTimeStampToDateAndTime(deploymentDetail.deploymentInstance.failedTime) }}. Cause: <em>{{ deploymentDetail.deploymentInstance.errorCause }}</em></p>
            </mat-step>
            <mat-step *ngIf="deploymentDetail.deploymentInstance.deployedTime"
              selected="deploymentDetail.deploymentInstance.status=='RUNNING'"
              completed="false">
              <ng-template matStepLabel>
                <mat-list>
                  <mat-list-item>
                    <span matLine>Deployed</span>
                    <span matLine>{{ fromTimeStampToDateAndTime(deploymentDetail.deploymentInstance.deployedTime) }}</span>
                  </mat-list-item>
                </mat-list>
              </ng-template> 
              <mat-list style="display: flex; flex-wrap: wrap;">
                <mat-list-item>
                  <div matLine>Total running time</div>
                  <div matLine class="param-value">{{ getTimeToDisplay(deploymentDetail.deploymentInstance.totalRunningTime) }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div matLine>Instances</div>
                  <div matLine class="param-value">{{ deploymentDetail.deploymentInstance.instanceCount }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div matLine>Total vCPUs</div>
                  <div matLine class="param-value">{{ deploymentDetail.deploymentInstance.totalVcpus }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div matLine>Total RAM GB</div>
                  <div matLine class="param-value">{{ deploymentDetail.deploymentInstance.totalRamGb }}</div>
                </mat-list-item>
                <mat-list-item>
                  <div matLine>Total Disk GB</div>
                  <div matLine class="param-value">{{ deploymentDetail.deploymentInstance.totalDiskGb }}</div>
                </mat-list-item>                
              </mat-list>        
            </mat-step>
            <mat-step *ngIf="deploymentDetail.deploymentInstance.destroyedTime"
              selected="deploymentDetail.deploymentInstance.status=='DESTROYED'"
              completed="false"
              [ngClass]="{'currentStatus':deploymentDetail.deploymentInstance.status=='DESTROYED'}">
              <ng-template matStepLabel>
                <mat-list>
                  <mat-list-item>
                    <span matLine>Destroyed</span>
                    <span matLine>{{ fromTimeStampToDateAndTime(deploymentDetail.deploymentInstance.destroyedTime) }}</span>
                  </mat-list-item>
                </mat-list>
              </ng-template>   
              <p>The deployment was destroyed at {{ fromTimeStampToDateAndTime(deploymentDetail.deploymentInstance.destroyedTime) }}</p>            
            </mat-step>                  
          </mat-horizontal-stepper>
          <mat-list>
            <!--Deployment meta-data-->
            <mat-list-item>
              <h3 matLine>State</h3>
              <p matLine class="param-value">{{ deploymentDetail.deploymentInstance.status }}</p>
            </mat-list-item>
            <mat-list-item>
              <h3 matLine>Cloud Provider</h3>
              <p matLine class="param-value">{{ deploymentDetail.deploymentInstance.cloudProviderParametersCopy.name }}</p>
            </mat-list-item>
            <mat-list-item *ngIf="deploymentDetail.deploymentInstance.status == 'STARTING'">
              <p matLine class="param-value">Waiting for provider data...</p>
            </mat-list-item>
            <mat-list-item *ngIf="deploymentDetail.deploymentInstance.status == 'STARTING_FAILED' || deploymentDetail.deploymentInstance.status == 'DESTROYING_FAILED'">
              <p matLine class="param-value">This deployment failed and there is no provider data</p>
            </mat-list-item>
            <mat-list-item>
              <h3 matLine *ngIf="deploymentDetail.deploymentInstance.providerId">Provider ID</h3>
              <p matLine class="param-value">{{ deploymentDetail.deploymentInstance.providerId }}</p>
            </mat-list-item>
            <!-- <mat-list-item *ngIf="deploymentDetail.deploymentInstance.accessIp">
              <h3 matLine>Access IP</h3>
              <p matLine class="param-value">{{ deploymentDetail.deploymentInstance.accessIp }}</p>
            </mat-list-item> -->
          </mat-list>

          <!-- Deployment inputs and co -->
          <mat-list>
            <!--List generated outputs-->
            <h3 mat-header>Outputs</h3>
            <p matSubheader *ngIf="deploymentDetail.deploymentInstance.generatedOutputs.length==0">There are no generated outputs for this deployment</p>
            <mat-list-item *ngFor="let generatedOutput of deploymentDetail.deploymentInstance.generatedOutputs">
              <mat-icon mat-list-icon>keyboard_arrow_left</mat-icon>
              <h3 matLine>{{ generatedOutput.outputName }}</h3>
              <h4 matLine class="param-value">{{ generatedOutput.generatedValue }}</h4>
            </mat-list-item>            
            <!--List attached volumes-->
            <h3 mat-header>Volumes <button mat-icon-button color="primary" 
              (click)="volumesShowing=!volumesShowing">
                <mat-icon *ngIf="!volumesShowing">keyboard_arrow_down</mat-icon> 
                <mat-icon *ngIf="volumesShowing">keyboard_arrow_up</mat-icon> 
              </button>
            </h3>
            <span *ngIf="volumesShowing">
              <p matSubheader *ngIf="deploymentDetail.deploymentInstance.attachedVolumes.length==0">There are no attached volumes for this deployment</p>
              <mat-list-item *ngFor="let attachedVolume of deploymentDetail.deploymentInstance.attachedVolumes">
                <mat-icon mat-list-icon>storage</mat-icon>
                <h3 matLine>{{ attachedVolume.name }}</h3>
                <h4 matLine class="param-value">attached to {{ attachedVolume.volumeInstanceReference }}</h4>
              </mat-list-item>
            </span>
            <!--List assigned inputs-->
            <h3 mat-header>Inputs <button mat-icon-button color="primary" 
              (click)="inputsShowing=!inputsShowing">
                <mat-icon *ngIf="!inputsShowing">keyboard_arrow_down</mat-icon> 
                <mat-icon *ngIf="inputsShowing">keyboard_arrow_up</mat-icon> 
              </button>
            </h3>
            <span *ngIf="inputsShowing">
              <p matSubheader *ngIf="deploymentDetail.deploymentInstance.assignedInputs.length==0">There are no assigned inputs for this deployment</p>
              <mat-list-item *ngFor="let assignedInput of deploymentDetail.deploymentInstance.assignedInputs">
                <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
                <h3 matLine>{{ assignedInput.inputName }}</h3>
                <h4 matLine class="param-value">{{ assignedInput.assignedValue }}</h4>
              </mat-list-item>
            </span>
            <!--List assigned parameters-->
            <h3 mat-header>Deployment parameters <button mat-icon-button color="primary" 
              (click)="deploymentParametersShowing=!deploymentParametersShowing">
                <mat-icon *ngIf="!deploymentParametersShowing">keyboard_arrow_down</mat-icon> 
                <mat-icon *ngIf="deploymentParametersShowing">keyboard_arrow_up</mat-icon> 
              </button>
            </h3>
            <span *ngIf="deploymentParametersShowing">
              <p matSubheader *ngIf="deploymentDetail.deploymentInstance.assignedParameters.length==0">There are no assigned parameters for this deployment</p>
              <mat-list-item *ngFor="let assignedParameter of deploymentDetail.deploymentInstance.assignedParameters">
                <mat-icon *ngIf="!assignedParameter.parameterValue" mat-list-icon>warning</mat-icon>
                <mat-icon *ngIf="assignedParameter.parameterValue" mat-list-icon>settings_applications</mat-icon>
                <h3 matLine>{{ assignedParameter.parameterName }}</h3>
                <h4 *ngIf="!assignedParameter.parameterValue" matLine class="param-value">Value not assigned</h4>
                <h4 matLine class="param-value">{{ assignedParameter.parameterValue }}</h4>
              </mat-list-item>
            </span>
            <!--Logs-->
            <h3 mat-header>Deployment logs
              <button mat-icon-button color="primary" (click)="logsShowing=!logsShowing">
                  <mat-icon *ngIf="!logsShowing">keyboard_arrow_down</mat-icon> 
                  <mat-icon *ngIf="logsShowing">keyboard_arrow_up</mat-icon> 
            </button>
            </h3>
            <span class="logs-text-area" *ngIf="logsShowing"
            innerHTML="{{ansiToHtml(deploymentDetail.deploymentInstance.logs) }}">
            </span>
            <!-- Destroy Logs-->
            <span *ngIf="deploymentDetail.deploymentInstance.status == 'DESTROYED' || deploymentDetail.deploymentInstance.status == 'DESTROYING'">
            <h3 mat-header>Deployment destroy logs
              <button mat-icon-button color="primary" (click)="destroylogsShowing=!destroylogsShowing">
                <mat-icon *ngIf="!destroylogsShowing">keyboard_arrow_down</mat-icon> 
                <mat-icon *ngIf="destroylogsShowing">keyboard_arrow_up</mat-icon>
            </button>
            </h3>
            <span class="logs-text-area" *ngIf="destroylogsShowing"
            innerHTML="{{ansiToHtml(deploymentDetail.deploymentInstance.destroylogs) }}">
            </span>
            </span>
          </mat-list>
        </mat-card-content>

        <mat-progress-bar *ngIf="deploymentDetail.deploymentInstance.status == 'DESTROYING' || deploymentDetail.deploymentInstance.status == 'STARTING'"
          mode="indeterminate"></mat-progress-bar>
        <mat-card-actions *ngIf="deploymentDetail.deploymentInstance.status == 'DESTROYING' || deploymentDetail.deploymentInstance.status == 'STARTING'">
          <button *ngIf="deploymentDetail.deploymentInstance.status == 'STARTING'" mat-raised-button (click)="openConfirmDestroyDialog(deploymentDetail)">
            FORCE DESTROY
          </button>
          <button *ngIf="deploymentDetail.deploymentInstance.status == 'DESTROYING'" mat-raised-button (click)="openConfirmDeleteDialog(deploymentDetail)">
            FORCE DELETE
          </button>
        </mat-card-actions>

        <mat-card-actions *ngIf="deploymentDetail.deploymentInstance.status != 'DESTROYING' && deploymentDetail.deploymentInstance.status != 'STARTING'">
          <button *ngIf="deploymentDetail.deploymentInstance.status == 'RUNNING'" mat-raised-button (click)="openConfirmDestroyDialog(deploymentDetail)">
            DESTROY
          </button>
          <button *ngIf="deploymentDetail.deploymentInstance.status == 'DESTROYED'" mat-raised-button (click)="openConfirmDeleteDialog(deploymentDetail)">
            DELETE
          </button>           
          <button *ngIf="deploymentDetail.deploymentInstance.status == 'STARTING_FAILED'" mat-raised-button (click)="openConfirmDestroyDialog(deploymentDetail)">
            FORCE DESTROY
          </button>
          <button *ngIf="deploymentDetail.deploymentInstance.status == 'DESTROYING_FAILED'" mat-raised-button (click)="openConfirmDeleteDialog(deploymentDetail)">
            FORCE DELETE
          </button>          
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</cp-deployment-component>