<mat-dialog-content>
  <div>
    <img class="dialog-img-large" [src]="robby">
    <h3>Add cloud provider</h3>
  </div>
  <div>
    <form [formGroup]="cloudProviderParametersForm" autocomplete="off">
      <mat-form-field class="input-full-width"><input matInput type="text" placeholder="Provider parameters name (required)" [formControl]="cloudProviderParametersForm.controls['name']"
          autofocus>
        <mat-error *ngIf="cloudProviderParametersForm.controls['name'].hasError('pattern')">
            Only letters, numbers and middle '_', '-' or space
        </mat-error>
      </mat-form-field>
      
      <mat-form-field class="input-full-width"><input matInput 
        type="text" 
        placeholder="Cloud provider (required)" 
        [matAutocomplete]="providerNamesAuto"
        [formControl]="cloudProviderParametersForm.controls['cloudProvider']"
          autofocus>
      </mat-form-field>
      <mat-autocomplete #providerNamesAuto="matAutocomplete">
        <mat-option *ngFor="let aCloudProviderName of cloudProviderNames" [value]="aCloudProviderName">
          {{ aCloudProviderName }}
        </mat-option>
      </mat-autocomplete>
      <h3>Parameters
        <button mat-icon-button color="primary" (click)="addNewCloudProviderParametersFormField()">
              <mat-icon>add</mat-icon> 
        </button>
      </h3>
      <!--Fields-->
      <div *ngFor="let fieldFormGroup of cloudProviderParametersForm.controls['fields'].controls">
        <form [formGroup]="fieldFormGroup">
          <table style="width: 100%" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="input-full-width"><input matInput type="text" placeholder="Enter parameter key" [formControl]="fieldFormGroup.controls['key']"
                    autofocus></mat-form-field>
              </td>
              <td>
                <mat-form-field class="input-full-width"><input matInput type="text" placeholder="Enter parameter value" [formControl]="fieldFormGroup.controls['value']"
                    autofocus></mat-form-field>
              </td>
            </tr>
          </table>
        </form>
      </div>

    </form>

  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button class="button-color-accent" 
  [disabled]="cloudProviderParametersForm.controls['cloudProvider'].hasError('required')
   || cloudProviderParametersForm.controls['name'].hasError('required')
   || cloudProviderParametersForm.controls['name'].hasError('pattern')"
    (click)="dialogRef.close(cloudProviderParametersForm.value)">
              ADD</button>
  <span class="fill-remaining-space"></span>
  <button mat-button
  (click)="dialogRef.close()">
  CANCEL
  </button>
</mat-dialog-actions>