:root {
  --primary-color: #81B381;
  --secondary-color-a: #78A6A6;
  --secondary-color-b: #AABB88;
  --complementary-color: rgb(51,51,51);
  --light-color: #efefef;
  --dark-color: #333333;
}

html, body{
  /*height: 100%;*/
  background: #ffffff;
}
button.active{
  background: #fff;
  color: #009688;
}
button.active:hover{
  color: #fff;
}
.fill{
  flex: 1 1 auto;
}
.app-state{
  margin: 15px;
  flex: 1;
}
.home{
  flex: 1;
}
md-content{
  display: flex;
  flex-direction: column;
  /*height: 100%;*/
  background: var(--light-color);
}

footer{
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: var(--light-color);
  flex: 0 0 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--light-color);
}

.card-container {
  display: flex;
  flex-flow: row wrap;
}

.secondary {
  color: rgba(0,0,0,0.54);
}

.card-container md-card {
  flex: 1;
  max-width: 400px;
  min-width: 300px;
  box-sizing: border-box;
  margin: 10px;
  /*background: var(--light-color);*/
  padding: 0px;
}

.card-container md-card md-card-content {
  padding: 16px;
}

.card-container md-card md-card-actions {
  position: relative;
  top: -20px;
  padding: 0px 30px 0px 0px;
}

.card-container md-card md-card-title {
  color: var(--complementary-color);
  font-size: 1.25em;
}

md-sidenav-layout {
  background: rgba(0,0,0,0.03);
}

a.md-list-item.router-active {
  background: rgba(0,0,0,0.8);
}

md-input {
  margin: 8px 0;
  width: 100%;
}

.form {
  display: flex;
}

.form md-card {
  flex-grow: 1;
}

.ebi-header {
  background-color: rgb(51,51,51);
  padding: 0px 0px 0px 10px;
  border-bottom-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.title-link {
  text-decoration: none;
  color: var(--light-color);
  padding-left: 10px;
  padding-top: 2px;
}

.param-value {
  color: rgba(0,0,0,0.50);
}

md-icon.card-type-icon {
  font-size: 36px;
  padding: 0px 14px 0px 0px;
  position: relative;
  top: -7px;
}

md-card-subtitle.indented-subtitle {
  padding: 0px 0px 0px 36px;
}

button.button-color-accent {
  background: var(--complementary-color);
  color: var(--light-color);
}

.md-card-toolbar {
  background: var(--secondary-color-b);
  color: var(--dark-color);
}

.md-main-toolbar {
  background: var(--primary-color);
}
