<md-sidenav-layout fullscreen>
    <md-sidenav #sidenav mode="push">
        <md-nav-list>
            <a md-list-item *ngIf="tokenService.getToken()" [routerLinkActive]="['router-active']" [routerLink]=" ['./deployments'] " (click)="sidenav.close()">
                <md-icon md-list-icon>cloud</md-icon>
                <span md-line>Deployments</span>
                <span md-line>Currently deployed appliances</span>
            </a>
            <a md-list-item *ngIf="tokenService.getToken()" [routerLinkActive]="['router-active']" [routerLink]=" ['./repository'] " (click)="sidenav.close()">
                <md-icon md-list-icon>dashboard</md-icon>
                <span md-line>Repository</span>
                <span md-line>Appliances available for deployment</span>
            </a>
            <a md-list-item *ngIf="tokenService.getToken()" [routerLinkActive]="['router-active']" [routerLink]=" ['./volumes'] " (click)="sidenav.close()">
                <md-icon md-list-icon>storage</md-icon>
                <span md-line>Volumes</span>
                <span md-line>Data storage units</span>
            </a>
            <a md-list-item [routerLinkActive]="['router-active']" [routerLink]=" ['./about'] " (click)="sidenav.close()">
                <md-icon md-list-icon>info</md-icon>
                <span md-line>About</span>
                <span md-line>Information about the TSI Cloud Portal</span>
            </a>
            <a md-list-item *ngIf="tokenService.getToken()" [routerLinkActive]="['router-active']" [routerLink]=" ['./profile'] " (click)="sidenav.close()">
                <md-icon md-list-icon>face</md-icon>
                <span md-line>Profile</span>
            </a>
            <a md-list-item *ngIf="tokenService.getToken()" [routerLinkActive]="['router-active']" (click)="logOut(); sidenav.close()">
                <md-icon md-list-icon>vpn_key</md-icon>
                <span md-line>Logout</span>
            </a>
            <a md-list-item *ngIf="!tokenService.getToken()" [routerLinkActive]="['router-active']" [routerLink]=" ['./login'] " (click)="sidenav.close()">
                <md-icon md-list-icon>vpn_key</md-icon>
                <span md-line>Login</span>
            </a>
                <a md-list-item [routerLinkActive]="['router-active']" [routerLink]=" ['./docs'] " (click)="sidenav.close()">
                <md-icon md-list-icon>info</md-icon>
                <span md-line>User Documentation</span>
                <span md-line>User documentation to use the portal</span>
            </a>
        </md-nav-list>
    </md-sidenav>
    <div class="ebi-header">
        <a class="ebi-header-logo" [href]="ebiUrl"><img [src]="ebiLogoWhite"></a>
        <a class="ebi-header-title" router-active [routerLink]=" ['./welcome'] ">{{ name }}</a>
        <span class="ebi-header-link-container">
            <a class="ebi-header-link" *ngIf="credentialService.getUsername()" [routerLink]=" ['./profile'] ">
                <img class="ebi-header-avatar" *ngIf="loggedInAccount && loggedInAccount.avatarImageUrl" src="{{ loggedInAccount.avatarImageUrl }}"/>
                <md-icon class="ebi-header-link-icon" *ngIf="!loggedInAccount || !loggedInAccount.avatarImageUrl" md-list-icon>face</md-icon>
                <span md-line class="ebi-header-link-text">
                    {{ credentialService.getGivenName() }} @ 
                </span>
            </a>
            <select class="cloud-privder-selector" 
                [ngModel]="selectedCloudProvider" (ngModelChange)="setCurrentlySelectedCloudProviderParameters($event)">
                <option>SELECT PROVIDER</option>
                <option 
                    *ngFor="let aCloudProvider of cloudProviderParameters"
                    [ngValue]="aCloudProvider">
                    {{ aCloudProvider.name }}
                    </option>
            </select>
            <a class="ebi-header-link-last" *ngIf="credentialService.getUsername()" (click)="logOut()">
                <span md-line class="ebi-header-link-text">Logout</span>
            </a>

            <a class="ebi-header-link" *ngIf="!credentialService.getUsername()" [routerLink]=" ['./login'] ">
                <md-icon class="ebi-header-link-icon" md-list-icon>vpn_key</md-icon>
                <span class="ebi-header-link-text">Login</span>
            </a>
        </span>
    </div>
    <md-toolbar class="md-main-toolbar">
        <button class="md-main-toolbar-sidebar-button" md-icon-button (click)="sidenav.open()">
            <md-icon>menu</md-icon>
        </button> 
        <a *ngFor="let breadcrumb of getBreadcrumb()" class="md-main-toolbar-title" [routerLink]="breadcrumb.route">
            {{ breadcrumb.label }}
        </a>
        <span class="fill-remaining-space"></span>
    </md-toolbar>

    <md-progress-bar mode="indeterminate" color="primary" *ngIf="loading"></md-progress-bar>

    <div class="content">
        <router-outlet></router-outlet>
    </div>
    
    <footer>
        <div>
            <img [src]="ebiLogoBlack">
        </div>
        <div>
            <span id="footerText"> Cloud Portal by <a [href]="tsiGithubUrl">@EMBL-EBI-TSI</a></span>
        </div>
    </footer>

</md-sidenav-layout>