<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push">
    <mat-nav-list>

      <h3 matSubheader *ngIf="tokenService.getToken()">EBI Cloud Portal Community</h3>
      <a mat-list-item *ngIf="tokenService.getToken()" [routerLinkActive]="['router-active']" [routerLink]=" ['./repository'] "
        (click)="sidenav.close()">
        <mat-icon mat-list-icon>settings_system_daydream</mat-icon>
        <span matLine>Application Repository</span>
      </a>
      <a mat-list-item *ngIf="tokenService.getToken()" [routerLinkActive]="['router-active']" [routerLink]=" ['./teams'] " (click)="sidenav.close()">
        <mat-icon mat-list-icon>group</mat-icon>
        <span matLine>Teams</span>
      </a>
      <mat-divider *ngIf="tokenService.getToken()"></mat-divider>

      <h3 matSubheader *ngIf="tokenService.getToken()">My Cloud</h3>
      <a mat-list-item *ngIf="tokenService.getToken()" [routerLinkActive]="['router-active']" [routerLink]=" ['./deployments'] "
        (click)="sidenav.close()">
        <mat-icon mat-list-icon>cloud_done</mat-icon>
        <span matLine>Cloud Deployments</span>
      </a>      
      <a mat-list-item *ngIf="tokenService.getToken()" [routerLinkActive]="['router-active']" [routerLink]=" ['./volumes'] " (click)="sidenav.close()">
        <mat-icon mat-list-icon>storage</mat-icon>
        <span matLine>Data Volumes</span>
      </a>
      <mat-divider *ngIf="tokenService.getToken()"></mat-divider>

      <h3 matSubheader *ngIf="tokenService.getToken()">My Profile</h3>
      <a mat-list-item *ngIf="tokenService.getToken()" [routerLinkActive]="['router-active']" [routerLink]=" ['./profile'] " (click)="sidenav.close()">
        <mat-icon mat-list-icon>face</mat-icon>
        <span matLine>Profile</span>
      </a>
      <a mat-list-item *ngIf="tokenService.getToken()" [routerLinkActive]="['router-active']" (click)="logOut(); sidenav.close()">
        <mat-icon mat-list-icon>vpn_key</mat-icon>
        <span matLine>Logout</span>
      </a>
      <a mat-list-item *ngIf="!tokenService.getToken()" [routerLinkActive]="['router-active']" [routerLink]=" ['./signon'] " (click)="sidenav.close()">
        <mat-icon mat-list-icon>vpn_key</mat-icon>
        <span matLine>Sign On</span>
      </a>
      <mat-divider></mat-divider>

      <a mat-list-item [routerLinkActive]="['router-active']" [routerLink]=" ['./docs'] " (click)="sidenav.close()">
        <mat-icon mat-list-icon>help</mat-icon>
        <span matLine>Documentation</span>
        <span matLine>How to use the EBI Cloud Portal</span>
      </a>
      <a mat-list-item [routerLinkActive]="['router-active']" [routerLink]=" ['./about'] " (click)="sidenav.close()">
        <mat-icon mat-list-icon>info</mat-icon>
        <span matLine>About</span>
        <span matLine>Information about the TSI Cloud Portal</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <div class="ebi-header">
    <span>
      <a class="ebi-header-logo" [href]="ebiUrl"><img [src]="ebiLogoWhite"></a>
      <a class="ebi-header-title" router-active [routerLink]=" ['./welcome'] ">{{ name }}</a>
    </span>
    <span class="ebi-header-link-container">
        <a class="ebi-header-link" *ngIf="!credentialService.getUsername()" [routerLink]=" ['./signon'] ">
          <mat-icon class="ebi-header-link-icon" mat-list-icon>vpn_key</mat-icon>
          <span class="ebi-header-link-text">Sign On</span>
        </a>
    </span>
  </div>
  <mat-toolbar class="mat-main-toolbar" *ngIf="credentialService.getUsername()">
    <button class="mat-main-toolbar-sidebar-button" mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
    <a *ngFor="let breadcrumb of getBreadcrumb()" class="mat-main-toolbar-title" [routerLink]="breadcrumb.route">
        {{ breadcrumb.label }}
    </a>
    <span class="fill-remaining-space"></span>
    <span *ngIf="credentialService.getUsername()">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon *ngIf="!loggedInAccount || !loggedInAccount.avatarImageUrl" mat-list-icon>face</mat-icon>
        {{ credentialService.getGivenName() }}
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]=" ['./profile'] ">Profile</button>
        <button mat-menu-item (click)="logOut()">Logout</button>
      </mat-menu>
    </span>
  </mat-toolbar>

  <!-- primary content -->
  <router-outlet></router-outlet>

  <footer>
    <div>
      <img [src]="ebiLogoBlack">
    </div>
    <div>
      <span id="footerText"> Cloud Portal by <a [href]="tsiGithubUrl">@EMBL-EBI-TSI</a></span>
    </div>
  </footer>

</mat-sidenav-container>