html, body{
  /*height: 100%;*/
  background: #ffffff;
}
button.active{
  background: #fff;
  color: #009688;
}
button.active:hover{
  color: #fff;
}
.fill{
  flex: 1 1 auto;
}
.app-state{
  margin: 15px;
  flex: 1;
}
.home{
  flex: 1;
}
md-content{
  display: flex;
  flex-direction: column;
  /*height: 100%;*/
  background: #ffffff;
}

footer{
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: rgb(229,229,229);
  flex: 0 0 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
}

.secondary {
  color: rgba(0,0,0,0.54);
}

.card-container md-card {
  flex: 1;
  max-width: 400px;
  min-width: 300px;
  box-sizing: border-box;
  margin: 10px;
  background: rgb(229,229,229);
}

.card-container md-card md-card-title {
  color: rgb(85,85,85);
  font-size: 1.25em;
}

md-sidenav-layout {
  background: rgba(0,0,0,0.03);
}

md-input {
  margin: 8px 0;
  width: 100%;
}

.form {
  display: flex;
}

.form md-card {
  flex-grow: 1;
}

.ebi-header {
  background-color: rgb(51,51,51);
  padding: 0px 0px 0px 10px;
  border-bottom-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.title-link {
  text-decoration: none;
  color: white;
  padding-left: 10px;
  padding-top: 2px;
}

.param-value {
  color: rgba(0,0,0,0.50);
}