:root {
  --primary-color: #389196;
  --secondary-color: #c3c0ab;
  --complementary-color: #e6b222;
  --light-color: rgb(249,249,249);
  --dark-color: #333333;
}

html {
  height: 100%;
  background: var(--light-color);
}

body {
  min-height: 100%;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.ebi-header {
  background-color: var(--primary-color);
  padding: 0px 0px 0px 10px;
}

.ebi-header-logo {
  position: relative;
  top: 8px;
  left: 10px;
}

.ebi-header-title {
  text-decoration: none;
  color: var(--light-color);;
  padding-left: 9px;
  position: relative;
  font-size: 1.3em;
  font-weight: lighter;
}
.ebi-header-link-container {
  float: right;
  text-align: right;
  width: auto;
  padding-right: 55px;
  color: var(--light-color);
}

.ebi-header-link {
  text-decoration: none;
  color: var(--light-color);
}

.ebi-header-link-last {
  text-decoration: none;
  padding-left: 5px;
  color: var(--light-color);
  border-left: solid;
  border-width: 1px;
  border-color: var(--light-color);
}

.ebi-header-link-text {
  position: relative;
  font-size: 0.8em;
}

.ebi-header-link-icon {
  position: relative;
  top: 8px;
}

.ebi-header-avatar {
  max-width: 25px;
  max-width: 25px;
  border-radius: 25px;
  position: relative;
  top: 8px;
}

.md-main-toolbar {
  background: var(--primary-color);
  color: var(--light-color);
  min-height: 65px;
  /*box-shadow: 0 2px 1px rgba(0,0,0,.4);*/
}

.md-main-toolbar-title {
  text-decoration: none;
  color: var(--light-color);;
  padding-left: 10px;
  padding-top: 2px;
  border-left: solid;
  border-width: 1px;
  border-color: var(--light-color);
  font-weight: lighter;
  font-size: 1.2em;
}

.md-main-toolbar-link {
  text-decoration: none;
  color: var(--light-color);
  position: absolute;
  right: 100px;
}

.md-main-toolbar-sidebar-button {
  color: var(--dark-color);
}

.md-main-toolbar-link-text {
  position: relative;
  bottom: 15px;
  color: var(--light-color);
}

.md-main-toolbar-link-icon {
  position: relative;
  bottom: 10px;
}

.md-card-toolbar {
  background: white;
  color: var(--dark-color);
}

.md-detail-card-toolbar {
  background: white;
  color: var(--dark-color);
}

button.active{
  background: #fff;
  color: #009688;
}
button.active:hover{
  color: #fff;
}
.fill{
  flex: 1 1 auto;
}
.app-state{
  margin: 15px;
  flex: 1;
}
.home{
  flex: 1;
}
md-content{
  display: flex;
  flex-direction: column;
  /*height: 100%;*/
  /*background: white;*/
    background: var(--light-color);
}

.card-container {
  display: flex;
  flex-flow: row wrap;
}

.secondary {
  color: rgba(0,0,0,0.54);
}

.card-container md-card {
  box-sizing: border-box;
  /*background: var(--light-color);*/
  padding: 0px;
}

.application-card-container md-card {
  width: 20em;
	min-height: 40em;
  margin: 1em;
}

.application-detail-card-container {
  margin: 1em;
  /*margin-bottom: 3em;*/
}

.deployment-card-container md-card {
  width: 20em;
	min-height: 40em;
  margin: 1em;
}

.credentials-card-container md-card {
  width: 20em;
	min-height: 30em;
  margin: 1em;
}

.volume-setup-card-container md-card {
  width: 20em;
	min-height: 15em;
  margin: 1em;
}

.volume-instance-card-container md-card {
  width: 20em;
	min-height: 15em;
  margin: 1em;
}

.card-container md-card md-card-content {
  padding: 16px;
}

.card-container md-card md-card-actions {
  position: relative;
  top: -20px;
  padding: 0px 30px 0px 0px;
}

.card-container md-card md-card-actions button {
  top: -7px;
}

.card-container md-card md-toolbar button {
  right: -10px;
}

.card-container md-card md-card-title {
  color: var(--complementary-color);
  font-size: 1.25em;
}

md-sidenav-layout {
  background: rgba(0,0,0,0.03);
}

a.md-list-item.router-active {
  background: rgba(0,0,0,0.8);
}

md-input {
  margin: 8px 0;
  width: 100%;
}

.form {
  display: flex;
}

.form md-card {
  flex-grow: 1;
}


.param-value {
  color: rgba(0,0,0,0.50);
}

md-icon.card-type-icon {
  font-size: 36px;
  padding: 0px 14px 0px 0px;
  position: relative;
  top: -7px;
}

md-icon.card-action-icon {
  font-size: 36px;
  padding: 0px 14px 0px 0px;
  position: relative;
  top: -7px;
}

md-card-subtitle.indented-subtitle {
  padding: 0px 0px 0px 36px;
}

button.button-color-accent {
  background: var(--complementary-color);
  color: var(--light-color);
}

md-radio-button {
  padding-right: 10px;
}
h1 {
  font-size: 2.2em;
  font-weight: lighter;
}
h2 {
  font-size: 1.8em;
  font-weight: lighter;
}
h3 {
  font-size: 1.2em;
  color: var(--dark-color);
  font-weight: lighter;
}
p {
  font-size: 1em;
  font-weight: lighter;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

footer {
  height: 60px !important;
  width: 100%;
  position: absolute;
  bottom: 0;
  /*box-shadow: 0 0 4px rgba(0,0,0,.4);*/
  background: var(--secondary-color);
  color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: absolute;
  top: 100px;
  bottom: 60px;
  width: 100%;
  overflow-x: hidden;
}

.hero {
  margin: auto auto;
  margin-bottom: 1rem;
}
.hero-message {
    text-align: center;
    margin-left: 37%;
    max-width: 280px;
}
.hero-img {
    margin-top: 2em;
    margin-left: 37%;
    max-width: 280px;
}
.hero-form {
    margin-top: 2em;
    margin-left: 37%;
    max-width: 280px;
}
.intro-message {
  margin-left: 10%;
  margin-right: 10%;
}

.inner-toolbar-checkbox {
  padding-left: 20px;
}
.profile-image {
  min-width: 200px;
  min-height: 200px;
}
.logs-text-area {
  width: 100%;
  min-height: 20em; 
  border: none; 
  resize: none;
  background: var(--dark-color);
  font-family: Courier New, Courier, monospace; 
}

.toolbar-fill-remaining-space {
  flex: 1 1 auto;
}
.background-card {
  background: var(--light-color);
  box-shadow: 0 0 0;
}