<div class="content">
	
  <div style="margin-left: 5%; width: 90%;">

		<div class="flex-container thin-bottom-border">
		<span>
			<h3>Single Sign On</h3>
			<p>If you don't have an <a href="https://www.elixir-europe.org/register">ELIXIR</a> associated account, you need to
			create one using one of the supported providers (Google, institutional account, etc.).
			</p>
			<p>
			This involves email verification, and finishes with a "We've got your registration" message from ELIXIR.
			When you first log in to the EBI Cloud Portal, you will first be asked if you allow your home institution (or Google, etc)
			to release your data to ELIXIR, where you can choose to allow/disallow the release of your data to the EBI Authentication Gateway.
			</p>
			<p>Let's review the process step by step in the following videos.</p>
			</span>
		<span>
			<iframe width="480" height="320" src="https://www.youtube.com/embed/h3KU4DKMG9o" frameborder="0" allowfullscreen></iframe>
		</span>
  </div>

	<div class="flex-container thin-bottom-border">
		<span>
			<h3>Adding your own Applications</h3>
			<p>
				Click on <img style="height: 1em; width:1em;" [src]="menuSymbol">, the side navigation bar appears. Click on
				<em>Repository</em> which will then take you to repository page where you can manage <em>Applications</em>.
			</p>
			<p>The following video explains how to add your own application from a GitHub repository.</p>
		</span>
		<span>
			<iframe width="480" height="320" src="https://www.youtube.com/embed/5XD2qaaA7cY" frameborder="0" allowfullscreen></iframe>
		</span>
	</div>

  <div class="flex-container thin-bottom-border">
    <span>
			<h3>Creating a Configuration, from scratch</h3>
			<p>Click on <img style="height: 1em; width:1em;" [src]="menuSymbol">, a side navigation bar appears. Click on 'Profile' which
				 will then take you to profile page where you can
			add, share and remove Cloud Providers, Configurations, and Deployment Parameters.
		  </p>
			<p>The following video guides you through the whole process.</p>
		</span>
    <span>
				
		</span>
  </div>

	<div class="flex-container thin-bottom-border">
    <span>
			<h3>Your first Deployment</h3>
			<p>
				Click on <img style="height: 1em; width:1em;" [src]="menuSymbol">, the side navigation bar appears. Click on
				<em>Repository</em> which will then take you to repository page where you can manage <em>Applications</em>.
		  </p>
			<p>The following video guides you through the process of Deploying an Application using a previously created Configuration (see previous videos).</p>
		</span>
    <span>
				
		</span>
	</div>
	
	<div class="flex-container thin-bottom-border">
    <span>
			<h3>Sharing and the EBI Cloud Portal Community</h3>
			
		</span>
    <span>
				
		</span>
	</div>

  </div>
</div>