<div [ngClass]="{'content': credentialService.getUsername(), 'content-out': !credentialService.getUsername()}">
  <div style="display:flex; flex-direction: column; flex-wrap: nowrap; align-items: center;">
    <img class="circular-login-img" [src]="robby">
    <div *ngIf="tokenService.getToken()"
      style="display:flex; flex-direction: column; flex-wrap: nowrap; align-items: center;">
      <h3><em>You are logged in as</em></h3>
      <a [routerLink]=" ['/profile']"><h3><em>{{ credentialService.getGivenName() }}</em></h3></a>
    </div>

    <div *ngIf="!tokenService.getToken()"
    style="display:flex; flex-direction: column; flex-wrap: nowrap; align-items: center;">
      <h3>Access the <abbr title="European Bioinformatics Institute">EBI</abbr> Cloud Portal</h3>
      <p>Single Sign On using your <abbr title="Life Science">LS</abbr> or <abbr title="European Molecular Biology Laboratory">EMBL</abbr> identity!</p>
      <div>
        <a style="padding:0.5em; padding-right:1em; min-width: 150px;" mat-raised-button href="{{ssoLink()}}" target="_blank" rel="opener">
          <img style="height: 2em; position:relative;padding-right:0.5em;padding-left:1em;" [src]="lsLoginLogo">
          SSO
        </a>
        <a style="padding:0.5em; padding-right:1em; min-width: 150px;" mat-raised-button href="{{emblSsoLink()}}" target="_blank" rel="opener">
          <img style="height: 2em; position:relative;padding-right:0.5em;padding-left:1em;" [src]="emblLogo">
          SSO
        </a>
      </div>
      <div style="max-width: 400px; margin: 10px;">
        <p>The EBI Cloud Portal is offered as a service to LS and other communities. Users
          need a freely available <a href="https://lifescience-ri.eu/ls-login/users/how-to-get-and-use-life-science-id.html" target="_blank" rel="noopener noreferrer">LS identity</a>
          to access the portal.
        </p>
        <p>
          Obtain your LS identity <a href="https://lifescience-ri.eu/ls-login/users/how-to-get-and-use-life-science-id.html" target="_blank" rel="noopener noreferrer">here</a>.
        </p>
      </div>


    </div>
  </div>
</div>
