<div 
	[ngClass]="{'content': credentialService.getUsername(), 'content-out': !credentialService.getUsername()}">
	<div style="display:flex; flex-wrap: wrap; margin: 0em 1em 1em 1em; justify-content: center;">
		
		<span style="min-width:300px; max-width:600px;">
			<h2>A platform for better science</h2>
			<p>
				The EMBL-EBI Cloud Portal is platform for <em>cloud-based data analysis</em> that 
				simplifies the experience for researchers when running their workloads 
				across different cloud providers.
			</p>
			
			<p>
				The portal enables cloud providers and research teams to package and share their key 
				applications and data environments with their respective users. That way, these key applications 
				can be deployed on demand onto the cloud providers the user is able to access.
			</p>
			<p>At a glance:</p>
			<ul>
				<li>Deploy <em>domain-specific</em> applications and infrastructure, from your own repos or from the <em>EBI Cloud Portal community</em>.</li>
				<br>
				<li>Use your own or <em>shared</em> cloud resources.</li>
				<br>
				<li>Scale when you need to, securely.</li>
			</ul>
			<p>
				The EBI Cloud Portal has been developed by the 
				<a href="https://www.ebi.ac.uk/about/people/steven-newhouse">Technology and Science Integration</a> team at EMBL-EBI.
			</p>
		</span>
		
		<span style="padding-right: 1em; padding-left: 1em; min-width:300px; max-width:600px;">
			<img style="width: 100%;" [src]="ecpMainInfographic">
		</span>
	</div>

	<div style="display:flex; flex-wrap: wrap; margin: 0em 1em 2em 1em; justify-content: center;">
		<span style="min-width:300px; max-width:600px; background: #EEE; padding: 2em;">
			<h3>How to access to the EMBL-EBI Cloud Portal?</h3>
			<p>The EMBL-EBI Cloud Portal is offered as a service to ELIXIR and other communities. Users 
				will need a freely available <a href="https://www.elixir-europe.org/services/compute/aai">ELIXIR identity</a>
				to access the portal.
			</p>
			<p>
				Obtain your ELIXIR identity <a href="https://www.elixir-europe.org/register">here</a>.
				Then you can <a [routerLink]=" ['/signon'] ">login</a>.
			</p>
		</span>
		<span style="padding-right: 5em; padding-left: 5em; min-width:300px; max-width:400px;">
				<img style="width: 100%;" [src]="elixirLogo">
		</span>
	</div>

	<div class="thin-bottom-border" style="display:flex; flex-wrap: wrap; margin: 0em 1em 2em 1em; justify-content: center;">
		<span style="min-width:300px; max-width:600px;">
			<h3>How to use the EMBL-EBI Cloud Portal?</h3>
			<p>
				Access to the portal does not provide access to any cloud providers but is compatible with the 
				work within the <a href="https://www.elixir-europe.org/services/compute">ELIXIR Compute Platform</a>.
				Users will need to provide their own credentials to access 
				cloud providers such as OpenStack, Google Compute Engine or Amazon Web Services.
			</p>
			<p>
				Research groups can use the portal to share appliances and cloud credentials within their teams 
				through the portal if they desire.
			</p>
		</span>
		<span style="padding-right: 5em; padding-left: 5em; min-width:300px; max-width:400px;">	

			<img style="height: 10em; margin-top: 2em;" [src]="cloudsLogo">
		</span>
	</div>
	<div style="display:flex; flex-wrap: wrap; margin: 0em 1em 2em 1em; justify-content: center;">
		<span style="min-width:300px; max-width:600px; margin: 10px;">
			<h3>Further questions?</h3>
			<p>
				Further information on the design and documentation on how to use and contribute appliances to 
				the portal is available. Any questions around the EMBL-EBI Cloud Portal and its use can be sent 
				to <em>tsi[at]ebi.ac.uk</em>. 
			</p>
			</span>
		<span style="padding-right: 5em; padding-left: 5em; min-width:300px; max-width:400px;">
			<h3>Acknowledgements</h3>
			<p>
				The portal has been developed under funding provided by the following projects and 
				organisations:</p>
				<ul>
					<li><p><a href="http://www.ebi.ac.uk/">EMBL-EBI</a> (European Molecular Biology 
					Laboratory - European Bioinformatics Institute).</p></li>
					<li><p>Cancer Research UK funding to develop infrastructure to support 
						the PanCancer collaboration.</p></li>
					<li><p>EC funded <a href="http://bioexcel.eu/">BioExcel</a> project.</p></li>
					<li><p>EC funded <a href="http://phenomenal-h2020.eu/home/">PhenomMeNal</a> project.</p></li>
				</ul>
		</span>
	</div>

	
</div>