<cp-volumes-component #volumesComponent>

	<!--Add setup button-->
	<button *ngIf="addButtonShowing" mat-fab (click)="openAddVolumeSetupDialog(volumesComponent)">
		<mat-icon>add</mat-icon>
	</button>
	<div class="content">
		<mat-tab-group #volumesTabGroup (selectChange)="addButtonShowing=(volumesTabGroup.selectedIndex==1); volumesComponent.addVolumeSetupFormShowing=false ">
			<mat-tab label="Instances">
				<div class="mat-content" *ngIf="volumesComponent.volumeDeploymentInstances">

					<mat-card class="background-card" *ngIf="volumesComponent.volumeDeploymentInstances.length==0">
						No volume deployments for {{ volumesComponent.credentialService.getGivenName() }} yet
					</mat-card>

					<div class="wide-summary-card-container">
						<mat-card *ngFor="let volumeDeploymentInstance of volumesComponent.volumeDeploymentInstances">
							<mat-card-content>
								<mat-icon *ngIf="volumeDeploymentInstance.status == 'STARTING_FAILED' || volumeDeploymentInstance.status == 'DESTROYING_FAILED'"
								 class="card-type-icon">error</mat-icon>
								<mat-icon *ngIf="volumeDeploymentInstance.status == 'DESTROYED'" class="card-type-icon">cloud_off</mat-icon>
								<mat-progress-spinner *ngIf="volumeDeploymentInstance.status == 'DESTROYING' || volumeDeploymentInstance.status == 'STARTING'"
								 mode="indeterminate"></mat-progress-spinner>
								<mat-icon *ngIf="volumeDeploymentInstance.status == 'RUNNING'" class="card-type-icon">cloud_done</mat-icon>

								<h2>{{ volumeDeploymentInstance.setupName }}</h2>
								<mat-list-item>
									<h3 matLine>Reference</h3>
									<p matLine class="param-value">{{ volumeDeploymentInstance.reference }}</p>
								</mat-list-item>
								<mat-list-item>
									<h3 matLine>State</h3>
									<p matLine class="param-value">{{ volumeDeploymentInstance.status }}</p>
								</mat-list-item>
								<!--<mat-list-item>
									<h3 matLine>Provider ID</h3>
									<p matLine>{{ volumeDeploymentInstance.providerId }}</p>
								</mat-list-item>-->
								<mat-list-item *ngIf="volumeDeploymentInstance.status == 'STARTING'">
									<p matLine class="param-value">Waiting for provider data...</p>
								</mat-list-item>
								<mat-list-item *ngIf="volumeDeploymentInstance.status == 'STARTING_FAILED'">
									<p matLine class="param-value">This deployment failed and there is nor provider data</p>
								</mat-list-item>
								<mat-card-actions align="end" *ngIf="!volumeDeploymentInstance.destroying && volumeDeploymentInstance.status != 'STARTING'">
									<button mat-icon-button color="warn" (click)="volumesComponent.destroyVolume(volumeDeploymentInstance)">
										<mat-icon class="card-action-icon">delete_forever</mat-icon>
									</button>
								</mat-card-actions>
							</mat-card-content>


						</mat-card>
					</div>
				</div>
			</mat-tab>

			<mat-tab label="Setups">

				<!--List setups-->
				<mat-card class="background-card" *ngIf="volumesComponent.volumeDeployers.length==0">
					No volume setups for user {{ volumesComponent.credentialService.getGivenName() }} yet
				</mat-card>

				<div class="mat-content" *ngIf="volumesComponent.volumeDeployers">
					<div class="wide-summary-card-container">
						<mat-card *ngFor="let volumeDeployer of volumesComponent.volumeDeployers">
							<span class="mat-toolbar flex-container-wide">
								<h3> {{ volumeDeployer.name }}</h3>
								<span class="fill-remaining-space"></span>
								<button mat-icon-button color="warn" (click)="volumesComponent.removeVolumeSetup(volumeDeployer)">
									<mat-icon>delete_forever</mat-icon> 
								</button>
							</span>
							<mat-card-content>
								<mat-list dense>
									<mat-list-item>
										<p>{{ volumeDeployer.about }}</p>
									</mat-list-item>
									<mat-list-item>
										<h3 matLine>Source</h3>
										<p matLine class="param-value"><a href="{{ volumeDeployer.repoUri }}">{{ volumeDeployer.repoUri }}</a></p>
									</mat-list-item>
								</mat-list>
							</mat-card-content>

							<mat-progress-bar *ngIf="volumeDeployer.deploying || volumeDeployer.removing" mode="indeterminate"></mat-progress-bar>
							<mat-card-actions *ngIf="!volumeDeployer.deploying && !volumeDeployer.removing">
								<span *ngIf="!volumesComponent.cloudProviderParametersService.currentlySelectedCloudProviderParameters" matTooltip="A valid Cloud Provider needs to be selected in order to deploy this volume"
								 matTooltipPosition="right" matTooltipHideDelay="1000">
                  <button mat-raised-button (click)="volumesComponent.deployVolume(volumeDeployer)" disabled>
                      DEPLOY
                  </button>
                </span>
								<span *ngIf="volumesComponent.cloudProviderParametersService.currentlySelectedCloudProviderParameters" matTooltip="This volume will be deployed to {{volumesComponent.cloudProviderParametersService.currentlySelectedCloudProviderParameters.name}}"
								 matTooltipPosition="right" matTooltipHideDelay="1000">
                  <button mat-raised-button (click)="volumesComponent.deployVolume(volumeDeployer)">
                      DEPLOY
                  </button>
                </span>
							</mat-card-actions>
						</mat-card>
					</div>
				</div>

			</mat-tab>
		</mat-tab-group>
	</div>
</cp-volumes-component>