<cp-volumes-component #volumesComponent>
	<!--Add setup button-->
	<button *ngIf="volumesTabGroup.selectedIndex == 1" md-mini-fab (click)="volumesComponent.addVolumeSetupFormShowing=!volumesComponent.addVolumeSetupFormShowing">
		<md-icon>add</md-icon>
	</button>

	<md-tab-group #volumesTabGroup>
		<md-tab>
			<template md-tab-label>Instances</template>
			<template md-tab-content>
				<md-content *ngIf="volumesComponent.volumeDeploymentInstances">
					<md-card class="background-card" *ngIf="volumesComponent.volumeDeploymentInstances.length==0">No volume deployments for user {{ volumesComponent.credentialService.getUsername() }} yet</md-card>

					<div class="volume-instance-card-container">
						<md-card *ngFor="let volumeDeploymentInstance of volumesComponent.volumeDeploymentInstances">
							<md-toolbar class="md-card-toolbar">
								<md-icon *ngIf="volumeDeploymentInstance.status == 'STARTING_FAILED'" class="card-type-icon">error</md-icon> 
								<!--<md-icon *ngIf="volumeDeploymentInstance.destroying || volumeDeploymentInstance.status == 'STARTING'" class="card-type-icon">hourglass_empty</md-icon> -->
								<md-progress-circle *ngIf="volumeDeploymentInstance.destroying || volumeDeploymentInstance.status == 'STARTING'" mode="indeterminate"></md-progress-circle>
								<md-icon *ngIf="!volumeDeploymentInstance.destroying && volumeDeploymentInstance.status == 'RUNNING'" class="card-type-icon">done</md-icon> {{ volumeDeploymentInstance.setupName }}
							</md-toolbar>
							<md-card-content>
								<md-list dense>
									<md-list-item>
										<h3 md-line>Reference</h3>
										<p md-line class="param-value">{{ volumeDeploymentInstance.reference }}</p>
									</md-list-item>
									<md-list-item>
										<h3 md-line>State</h3>
										<p md-line class="param-value">{{ volumeDeploymentInstance.status }}</p>
									</md-list-item>
									<!--<md-list-item>
										<h3 md-line>Provider ID</h3>
										<p md-line>{{ volumeDeploymentInstance.providerId }}</p>
									</md-list-item>-->
									<md-list-item *ngIf="volumeDeploymentInstance.status == 'STARTING'">
										<p md-line class="param-value">Waiting for provider data...</p>
									</md-list-item>
									<md-list-item *ngIf="volumeDeploymentInstance.status == 'STARTING_FAILED'">
										<p md-line class="param-value">This deployment failed and there is nor provider data</p>
									</md-list-item>
								</md-list>
							</md-card-content>

							<md-card-actions align="end" *ngIf="!volumeDeploymentInstance.destroying && volumeDeploymentInstance.status != 'STARTING'">
								<button md-icon-button color="warn" (click)="volumesComponent.destroyVolume(volumeDeploymentInstance)">
								<md-icon class="card-action-icon">delete_forever</md-icon>
							</button>
							</md-card-actions>
						</md-card>
					</div>
				</md-content>
			</template>
		</md-tab>

		<md-tab>
			<template md-tab-label>Setups</template>
			<template md-tab-content>
				<!--Add setup form-->
				<md-card *ngIf="volumesComponent.addVolumeSetupFormShowing">
					<md-card-title><h3>Add volume setup</h3></md-card-title>
					<md-card-content>
						<form [formGroup]="volumesComponent.volumeSetupForm" autocomplete="off">
							<md-input type="url" placeholder="Repository URI" [formControl]="volumesComponent.volumeSetupForm.controls['repoUri']" autofocus>
							</md-input>
							<div *ngIf="!volumesComponent.volumeSetupForm.controls['repoUri'].valid" class="ui error message">URI is invalid</div>
							<div *ngIf="volumesComponent.volumeSetupForm.controls['repoUri'].hasError('required')" class="ui error message">URI is required</div>
						</form>
					</md-card-content>
					<md-card-actions>
						<button md-raised-button class="button-color-accent" (click)="volumesComponent.addVolumeSetup(volumesComponent.volumeSetupForm.value); volumesComponent.addVolumeSetupFormShowing = false"
							align="end">Add</button>
					</md-card-actions>
				</md-card>

				<!--List setups-->
				<md-card class="background-card" *ngIf="volumesComponent.volumeDeployers.length==0">No volume setups for user {{ volumesComponent.credentialService.getUsername() }} yet</md-card>
				<md-content *ngIf="volumesComponent.volumeDeployers">
					<div class="card-container volume-setup-card-container">
						<md-card *ngFor="let volumeDeployer of volumesComponent.volumeDeployers">
							<md-toolbar class="md-card-toolbar">
								<md-icon class="card-type-icon">settings_application</md-icon> {{ volumeDeployer.name }}
								<span class="toolbar-fill-remaining-space"></span>
								<button md-icon-button color="warn" (click)="volumesComponent.removeVolumeSetup(volumeDeployer)">
									<md-icon class="card-action-icon">clear</md-icon> 
								</button>
							</md-toolbar>
							<md-card-content>
								<md-list dense>
									<md-list-item>
										<h3 md-line>Source</h3>
										<p md-line class="param-value"><a href="{{ volumeDeployer.repoUri }}">{{ volumeDeployer.repoUri }}</a></p>
									</md-list-item>
								</md-list>
							</md-card-content>

							<md-progress-bar *ngIf="volumeDeployer.deploying || volumeDeployer.removing" mode="indeterminate"></md-progress-bar>
							<md-card-actions *ngIf="!volumeDeployer.deploying && !volumeDeployer.removing">
								<button *ngIf="volumeDeployer.selectedCloudProvider" md-button (click)="volumesComponent.deployVolume(volumeDeployer)">
										DEPLOY
								</button>
								<button *ngIf="!volumeDeployer.selectedCloudProvider" md-button disabled>
										DEPLOY
								</button>
								<md-radio-group [(ngModel)]="volumeDeployer.selectedCloudProvider">
									<md-radio-button *ngFor="let provider of volumeDeployer.cloudProviders" 
										[value]="provider">{{ provider }}</md-radio-button>
								</md-radio-group>
							</md-card-actions>
						</md-card>
					</div>
				</md-content>
			</template>
		</md-tab>
	</md-tab-group>
</cp-volumes-component>