<cp-volumes-component #volumesComponent>
	<!--Add setup button-->
	<button *ngIf="volumesTabGroup.selectedIndex == 1" md-fab (click)="volumesComponent.addVolumeSetupFormShowing=!addVolumeSetupFormShowing">
		<md-icon>add</md-icon>
	</button>

	<md-tab-group #volumesTabGroup>
		<md-tab>
			<template md-tab-label>Instances</template>
			<template md-tab-content>
				<md-content *ngIf="volumesComponent.volumeDeploymentInstances">
					<md-card *ngIf="volumesComponent.volumeDeploymentInstances.length==0">No volume deployments for user {{ volumesComponent.credentialService.getUsername() }} yet</md-card>

					<div class="card-container">
						<md-card *ngFor="let volumeDeploymentInstance of volumesComponent.volumeDeploymentInstances">
							<md-card-title-group>
								<md-card-title>
									<md-icon>done</md-icon> {{ volumeDeploymentInstance.name }}
								</md-card-title>
								<md-card-subtitle>{{ volumeDeploymentInstance.reference }}</md-card-subtitle>
							</md-card-title-group>

							<md-card-content>
								<md-list dense>
									<md-list-item>
										<h3 md-line>ID</h3>
										<p md-line>{{ volumeDeploymentInstance.providerId }}</p>
									</md-list-item>
								</md-list>
							</md-card-content>

							<md-progress-bar *ngIf="volumeDeploymentInstance.destroying" mode="indeterminate"></md-progress-bar>
							<md-card-actions align="end" *ngIf="!volumeDeploymentInstance.destroying">
								<button md-icon-button color="warn" (click)="volumesComponent.destroyVolume(volumeDeploymentInstance)">
								<md-icon>delete_forever</md-icon>
						  </button>
							</md-card-actions>
						</md-card>
					</div>
				</md-content>
			</template>
		</md-tab>

		<md-tab>
			<template md-tab-label>Setups</template>
			<template md-tab-content>
				<!--Add setup form-->
				<md-card *ngIf="volumesComponent.addVolumeSetupFormShowing">
					<md-card-title>Add volume setup</md-card-title>
					<md-card-content>
						<form [formGroup]="volumesComponent.volumeSetupForm" autocomplete="off">
							<md-input type="url" placeholder="Repository URI" [formControl]="volumesComponent.volumeSetupForm.controls['repoUri']" autofocus>
							</md-input>
							<div *ngIf="!volumesComponent.volumeSetupForm.controls['repoUri'].valid" class="ui error message">URI is invalid</div>
							<div *ngIf="volumesComponent.volumeSetupForm.controls['repoUri'].hasError('required')" class="ui error message">URI is required</div>
						</form>
					</md-card-content>
					<md-card-actions>
						<button md-raised-button color="accent" (click)="volumesComponent.addVolumeSetup(volumesComponent.volumeSetupForm.value); volumesComponent.addVolumeSetupFormShowing = false"
							align="end">Add</button>
					</md-card-actions>
				</md-card>

				<!--List setups-->
				<md-card *ngIf="volumesComponent.volumeDeployers.length==0">No volume setups for user {{ volumesComponent.credentialService.getUsername() }} yet</md-card>
				<div class="card-container">
					<md-content *ngIf="volumesComponent.volumeDeployers">
						<div class="card-container">
							<md-card *ngFor="let volumeDeployer of volumesComponent.volumeDeployers">
								<md-card-title-group>
									<md-card-title>
										<md-icon>settings_application</md-icon> {{ volumeDeployer.name }}
									</md-card-title>
									<md-card-subtitle><a href="{{ volumeDeployer.repoUri }}">{{ volumeDeployer.repoUri }}</a></md-card-subtitle>
								</md-card-title-group>

								<md-card-content>
									<md-list dense>

									</md-list>
								</md-card-content>

								<md-progress-bar *ngIf="volumeDeployer.deploying || volumeDeployer.removing" mode="indeterminate"></md-progress-bar>
								<md-card-actions align="end" *ngIf="!volumeDeployer.deploying && !volumeDeployer.removing ">
									<button md-icon-button color="accent" (click)="volumesComponent.deployVolume(volumeDeployer)">
									<md-icon>cloud_upload</md-icon>
								</button>
									<button md-icon-button color="warn" (click)="volumesComponent.removeVolumeSetup(volumeDeployer)">
									<md-icon>clear</md-icon>
								</button>
								</md-card-actions>
							</md-card>
						</div>
					</md-content>
				</div>

			</template>
		</md-tab>
	</md-tab-group>
</cp-volumes-component>