<div *ngIf="!tokenService.getToken()" class="welcome-container">
  <about-page></about-page>
  <login-page></login-page>
</div>
<div *ngIf="tokenService.getToken()" class="welcome-container">

  <md-card (click)="goToDeployments()">
    <md-card-title-group>
      <md-icon md-list-icon>cloud</md-icon>
      <md-card-title>My deployments</md-card-title>
    </md-card-title-group>
    <md-card-contents>Manage you deployments</md-card-contents>
  </md-card>

  <md-card (click)="goToRepository()">
    <md-card-title-group>
      <md-icon md-list-icon>dashboard</md-icon>
      <md-card-title>Search repositories</md-card-title>
    </md-card-title-group>
    <md-card-contents>Browse all applications available to deploy</md-card-contents>
  </md-card>

  <md-card (click)="goToVolumes()">
    <md-card-title-group>
      <md-icon md-list-icon>storage</md-icon>
      <md-card-title>Manage data volumes</md-card-title>
    </md-card-title-group>
    <md-card-contents>Manage data storage units</md-card-contents>
  </md-card>
</div>