<cp-error-component #errorComponent>
	<md-content>
		<md-card>
			<md-card-title>
				Sorry, there is a problem...
			</md-card-title>
			<img class="hero-img" [src]="robby">
			<md-card-content *ngIf="errorComponent.errorService.getCurrentError()[0]">
				{{ errorComponent.errorService.getCurrentError()[0].message }}
			</md-card-content>
			<md-card-content *ngIf="!errorComponent.errorService.getCurrentError()[0] && errorComponent.errorService.getCurrentError()">
				{{ errorComponent.errorService.getCurrentError().message }}
			</md-card-content>
			<md-card-content *ngIf="!errorComponent.errorService.getCurrentError()[0] && !errorComponent.errorService.getCurrentError()">
				The exact error cannot be determined
			</md-card-content>
		</md-card>
	</md-content>
</cp-error-component>