<cp-deployments-component #deploymentsComponent>
	<mat-toolbar>
		<mat-checkbox class="inner-toolbar-checkbox" [checked]="hideDestroyed" (change)="switchDestroyed()">
			<p>Hide destroyed</p>
		</mat-checkbox>
	</mat-toolbar>

	<div class="content" *ngIf="deploymentsComponent.deploymentInstances">

		<mat-card class="background-card" *ngIf="deploymentsComponent.deploymentInstances.length==0">
			No deployments for {{ deploymentsComponent.credentialService.getGivenName() }} yet
		</mat-card>

		<div class="wide-summary-card-container">
			<mat-card [routerLink]=" ['/deployments/', deploymentInstance.reference]" *ngFor="let deploymentInstance of (deploymentsComponent.deploymentInstances | deploymentStatus:statusFilters)">
				<span class="mat-toolbar flex-container-wide">
					<mat-icon *ngIf="deploymentInstance.status == 'STARTING_FAILED' || deploymentInstance.status == 'DESTROYING_FAILED'" class="card-type-icon">error</mat-icon> 
					<mat-icon *ngIf="deploymentInstance.status == 'DESTROYED'" class="card-type-icon">cloud_off</mat-icon> 
					<!--<mat-icon *ngIf="deploymentInstance.status == 'DESTROYING' || deploymentInstance.status == 'STARTING'" class="card-type-icon">cloud_queue</mat-icon> -->
					<mat-progress-spinner *ngIf="deploymentInstance.status == 'DESTROYING' || deploymentInstance.status == 'STARTING'" mode="indeterminate"></mat-progress-spinner>
					
					<mat-icon *ngIf="deploymentInstance.status == 'RUNNING'" class="card-type-icon">cloud_done</mat-icon> 
					<h3>{{ deploymentInstance.applicationName }}</h3>
					<span class="fill-remaining-space"></span>
				</span>
				<mat-card-content>
					<!--Deployment meta-data-->
					<mat-list-item>
						<p matLine>Reference</p>
						<h3 matLine class="param-value">{{ deploymentInstance.reference }}</h3>
					</mat-list-item>
					<mat-list-item>
						<p matLine>State</p>
						<h3 matLine class="param-value">{{ deploymentInstance.status }}</h3>
					</mat-list-item>
					<mat-list-item>
						<p matLine>Cloud Provider</p>
						<h3 matLine class="param-value">{{ deploymentInstance.cloudProviderParametersCopy.name }}</h3>
					</mat-list-item>
					<mat-list-item>
						<p matLine>Configuration</p>
						<h3 matLine class="param-value">{{ deploymentInstance.configurationName }}</h3>
					</mat-list-item>
					<!--List attached volumes
					<h3 mat-header>Volumes</h3>
					<mat-divider></mat-divider>
					<p matSubheader *ngIf="deploymentInstance.attachedVolumes.length==0">There are no attached volumes for this deployment</p>
					<mat-list-item *ngFor="let attachedVolume of deploymentInstance.attachedVolumes">
						<h3 matLine>{{ attachedVolume.name }}</h3>
						<p matLine class="param-value">attached to {{ attachedVolume.volumeInstanceReference }}</p>
					</mat-list-item>-->
					<!--List assigned inputs-->
					<mat-list-item *ngFor="let assignedInput of deploymentInstance.assignedInputs">
						<p matLine>{{ assignedInput.inputName }}</p>
						<h3 matLine class="param-value">{{ assignedInput.assignedValue }}</h3>
					</mat-list-item>
					<!--List generated outputs-->
					<mat-list-item *ngFor="let generatedOutput of deploymentInstance.generatedOutputs">
						<p matLine>{{ generatedOutput.outputName }}</p>
						<h3 matLine class="param-value">{{ generatedOutput.generatedValue }}</h3>
					</mat-list-item>
					<mat-list-item *ngIf="deploymentInstance.status == 'STARTING'">
						<p matLine class="param-value">Waiting for provider data...</p>
					</mat-list-item>
					<!--<mat-list-item *ngIf="deploymentInstance.status == 'STARTING_FAILED' || deploymentInstance.status == 'DESTROYING_FAILED'">
						<p matLine class="param-value">There is no provider data</p>
					</mat-list-item>-->
					<mat-list-item *ngIf="deploymentInstance.accessIp">
						<p matLine>Access IP</p>
						<h3 matLine class="param-value">{{ deploymentInstance.accessIp }}</h3>
					</mat-list-item>
				</mat-card-content>
			</mat-card>
		</div>
	</div>

</cp-deployments-component>