<cp-deployments-component #deploymentsComponent>
	<md-content *ngIf="deploymentsComponent.deploymentInstances">

		<md-card *ngIf="deploymentsComponent.deploymentInstances.length==0">
			No deployments for user {{ deploymentsComponent.credentialService.getUsername() }} yet
		</md-card>

		<div class="card-container">
			<md-card *ngFor="let deploymentInstance of deploymentsComponent.deploymentInstances">
        <md-toolbar class="md-card-toolbar">
					<md-icon *ngIf="deploymentInstance.status == 'STARTING_FAILED'" class="card-type-icon">error</md-icon> 
					<md-icon *ngIf="deploymentInstance.status == 'STARTING'" class="card-type-icon">hourglass_empty</md-icon> 
          <md-icon *ngIf="deploymentInstance.status == 'RUNNING'" class="card-type-icon">done</md-icon> 
					{{ deploymentInstance.applicationName }}
        </md-toolbar>
				<md-card-content>
					<md-list dense>
						<!--Deployment meta-data-->
            <md-list-item>
              <h3 md-line>Reference</h3>
              <p md-line class="param-value">{{ deploymentInstance.reference }}</p>
            </md-list-item>
						<md-list-item *ngIf="deploymentInstance.status == 'STARTING'">
							<p md-line class="param-value">Waiting for provider data...</p>
						</md-list-item>
						<md-list-item *ngIf="deploymentInstance.status == 'STARTING_FAILED'">
							<p md-line class="param-value">This deployment failed and there is nor provider data</p>
						</md-list-item>
						<md-list-item>
							<h3 md-line *ngIf="deploymentInstance.providerId">Provider ID</h3>
							<p md-line class="param-value">{{ deploymentInstance.providerId }}</p>
						</md-list-item>
						<md-list-item *ngIf="deploymentInstance.acessIp">
							<h3 md-line>Access IP</h3>
							<p md-line class="param-value">{{ deploymentInstance.accessIp }}</p>
						</md-list-item>
						<!--<md-list-item>
							<h3 md-line>Deployment status</h3>
							<p md-line class="param-value">{{ deploymentInstance.status }}</p>
						</md-list-item>-->
						<!--List attached volumes-->
						<h3 md-header>Volumes</h3>
						<md-divider></md-divider>
						<p md-subheader *ngIf="deploymentInstance.attachedVolumes.length==0">There are no attached volumes for this deployment</p>
						<md-list-item *ngFor="let attachedVolume of deploymentInstance.attachedVolumes">
							<h3 md-line>{{ attachedVolume.name }}</h3>
							<p md-line class="param-value">attached to {{ attachedVolume.volumeInstanceReference }}</p>
						</md-list-item>
						<!--List assigned inputs-->
						<h3 md-header>Inputs</h3>
						<md-divider></md-divider>
						<p md-subheader *ngIf="deploymentInstance.assignedInputs.length==0">There are no assigned inputs for this deployment</p>
						<md-list-item *ngFor="let assignedInput of deploymentInstance.assignedInputs">
							<h3 md-line>{{ assignedInput.inputName }}</h3>
							<p md-line class="param-value">{{ assignedInput.assignedValue }}</p>
						</md-list-item>
						<!--List generated outputs-->
						<h3 md-header>Outputs</h3>
						<md-divider></md-divider>
						<p md-subheader *ngIf="deploymentInstance.generatedOutputs.length==0">There are no generated outputs for this deployment</p>
						<md-list-item *ngFor="let generatedOutput of deploymentInstance.generatedOutputs">
							<h3 md-line>{{ generatedOutput.outputName }}</h3>
							<p md-line class="param-value">{{ generatedOutput.generatedValue }}</p>
						</md-list-item>
					</md-list>
				</md-card-content>

				<md-progress-bar *ngIf="deploymentInstance.destroying || deploymentInstance.status == 'STARTING'" mode="indeterminate"></md-progress-bar>

				<md-card-actions align="end" *ngIf="!deploymentInstance.destroying && deploymentInstance.status != 'STARTING'">
					<button md-tooltip="Destroy deployment" tooltip-position="below" md-icon-button color="warn" (click)="deploymentsComponent.destroyDeployment(deploymentInstance)">
						<md-icon class="card-action-icon">delete_forever</md-icon>
					</button>
				</md-card-actions>
				
			</md-card>
		</div>
	</md-content>

</cp-deployments-component>