<cp-deployments-component #deploymentsComponent>
	<div class="content" *ngIf="deploymentsComponent.deploymentInstances">
		<mat-toolbar>
			<mat-checkbox class="inner-toolbar-checkbox" [checked]="hideDestroyed" (change)="switchDestroyed(deploymentsComponent)">
				Hide destroyed
			</mat-checkbox>
		</mat-toolbar>
		<mat-card class="background-card" *ngIf="deploymentsComponent.deploymentInstances.length==0">
			No deployments for {{ deploymentsComponent.credentialService.getGivenName() }} yet
		</mat-card>

		<div class="wide-summary-card-container">
			<span *ngFor="let deploymentInstance of (deploymentsComponent.deploymentInstances | deploymentStatus:statusFilters)">
			<mat-card  *ngIf="!(hideDestroyed && (deploymentInstance.destroyedTime || deploymentInstance.status == 'DESTROYING' || deploymentInstance.status == 'DESTROYING_FAILED'))" 
			[routerLink]=" ['/deployments/', deploymentInstance.reference]" >
				<span class="flex-container-wide">
					<mat-icon *ngIf="deploymentInstance.status == 'STARTING_FAILED' || deploymentInstance.status == 'DESTROYING_FAILED'" class="card-type-icon">error</mat-icon> 
					<mat-icon *ngIf="deploymentInstance.status == 'DESTROYED'" class="card-type-icon">cloud_off</mat-icon> 
					<!--<mat-icon *ngIf="deploymentInstance.status == 'DESTROYING' || deploymentInstance.status == 'STARTING'" class="card-type-icon">cloud_queue</mat-icon> -->
					<mat-progress-spinner *ngIf="deploymentInstance.status == 'DESTROYING' || deploymentInstance.status == 'STARTING'" mode="indeterminate"></mat-progress-spinner>
					
					<mat-icon *ngIf="deploymentInstance.status == 'RUNNING'" class="card-type-icon">cloud_done</mat-icon> 
					<h3>{{ deploymentInstance.applicationName }}</h3>
					<span class="fill-remaining-space"></span>
				</span>
				<mat-card-content>
					<mat-list>
						<!--Deployment meta-data-->
						<mat-list-item>
							<div matLine>Reference</div>
							<div matLine class="param-value">{{ deploymentInstance.reference }}</div>
						</mat-list-item>
						<mat-list-item>
							<div matLine>State</div>
							<div matLine class="param-value">{{ deploymentInstance.status }}</div>
						</mat-list-item>						
						<mat-list-item>
							<div matLine>Configuration</div>
							<div matLine class="param-value">{{ deploymentInstance.configurationName }}</div>
						</mat-list-item>
						<mat-list-item>
							<div matLine>Cloud Provider</div>
							<div matLine class="param-value">{{ deploymentInstance.cloudProviderParametersCopy.name }}</div>
						</mat-list-item>
						<!--List attached volumes
						<h3 mat-header>Volumes</h3>
						<mat-divider></mat-divider>
						<p matSubheader *ngIf="deploymentInstance.attachedVolumes.length==0">There are no attached volumes for this deployment</p>
						<mat-list-item *ngFor="let attachedVolume of deploymentInstance.attachedVolumes">
							<p matLine>{{ attachedVolume.name }}</p>
							<p matLine class="param-value">attached to {{ attachedVolume.volumeInstanceReference }}</p>
						</mat-list-item>-->
						<!--List assigned inputs-->
						<mat-list-item *ngFor="let assignedInput of deploymentInstance.assignedInputs">
							<div matLine>{{ assignedInput.inputName }}</div>
							<div matLine class="param-value">{{ assignedInput.assignedValue }}</div>
						</mat-list-item>
						<!-- Started time -->
						<mat-list-item *ngIf="deploymentInstance.startedTime">
							<div matLine>Started</div>
							<div matLine class="param-value">{{ fromTimeStampToDateAndTime(deploymentInstance.startedTime) }}</div>
						</mat-list-item>
						<!--List generated outputs-->
						<mat-list-item *ngFor="let generatedOutput of deploymentInstance.generatedOutputs">
							<div matLine>{{ generatedOutput.outputName }}</div>
							<div matLine class="param-value">{{ generatedOutput.generatedValue }}</div>
						</mat-list-item>
						<mat-list-item *ngIf="deploymentInstance.status == 'STARTING'">
							<div matLine class="param-value">Waiting for provider data...</div>
						</mat-list-item>
						<!--<mat-list-item *ngIf="deploymentInstance.status == 'STARTING_FAILED' || deploymentInstance.status == 'DESTROYING_FAILED'">
							<p matLine class="param-value">There is no provider data</p>
						</mat-list-item>-->
						<!-- <mat-list-item *ngIf="deploymentInstance.accessIp">
							<p matLine>Access IP</p>
							<p matLine class="param-value">{{ deploymentInstance.accessIp }}</p>
						</mat-list-item> -->

					</mat-list>
				</mat-card-content>
			</mat-card>
		</span>
		</div>
	</div>

</cp-deployments-component>