<mat-dialog-content>
  <div>
    <img class="dialog-img-xlarge" [src]="robby">
    <h3>Add configuration</h3>
  </div>
  <div>
    <form [formGroup]="configurationForm" autocomplete="off">
      <!--The config name-->
      <mat-form-field class="input-full-width">
        <input matInput type="text" placeholder="Configuration name (required)" [formControl]="configurationForm.controls['name']"
          autofocus>
        <mat-error *ngIf="configurationForm.controls['name'].hasError('pattern')">
            Only letters, numbers and middle '_', '-' or space
        </mat-error>
      </mat-form-field>

      <!--The cloud provider-->
      <mat-form-field class="input-full-width"><input matInput type="text" placeholder="Cloud provider (required)" [formControl]="configurationForm.controls['cloudProviderParametersName']"
          [matAutocomplete]="cloudProvidersAuto">
      </mat-form-field>
      <mat-autocomplete #cloudProvidersAuto="matAutocomplete">
        <mat-option *ngFor="let aCloudProvider of filteredCloudProviderNames | async" [value]="aCloudProvider">
          {{ aCloudProvider }}
        </mat-option>
      </mat-autocomplete>

      <!--The deployment params-->
      <mat-form-field class="input-full-width"><input matInput type="text" placeholder="Deployment Parameters Name (required)" [formControl]="configurationForm.controls['deploymentParametersName']"
          [matAutocomplete]="deploymentParametersAuto">
      </mat-form-field>
      <mat-autocomplete #deploymentParametersAuto="matAutocomplete">
        <mat-option *ngFor="let aDeploymentParameters of filteredDeploymentParametersNames | async" [value]="aDeploymentParameters">
          {{ aDeploymentParameters }}
        </mat-option>
      </mat-autocomplete>

      <!--The SSH key-->
      <mat-form-field class="input-full-width"><input matInput type="text" placeholder="SSH public key" [formControl]="configurationForm.controls['sshKey']" autofocus>
      </mat-form-field>

      <!--The usage limits-->
      <mat-form-field class="input-full-width"><input matInput type="text" placeholder="Soft usage limit (optional)" [formControl]="configurationForm.controls['softUsageLimit']" autofocus>
      </mat-form-field>
      <mat-form-field class="input-full-width"><input matInput type="text" placeholder="Hard usage limit (optional)" [formControl]="configurationForm.controls['hardUsageLimit']" autofocus>
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button [disabled]="configurationForm.controls['name'].hasError('required') || configurationForm.controls['cloudProviderParametersName'].hasError('required')"
    (click)="dialogRef.close(configurationForm.value)" mat-raised-button class="button-color-accent">
    ADD
  </button>
  <span class="fill-remaining-space"></span>
  <button mat-button
  (click)="dialogRef.close()">
  CANCEL
  </button>
</mat-dialog-actions>