<md-dialog-content>
  <div>
    <img class="dialog-img-xlarge" [src]="robby">
    <h2>Add configuration</h2>
  </div>
  <div>
    <form [formGroup]="configurationForm" autocomplete="off">
      <!--The config name-->
      <md-input-container class="input-full-width"><input mdInput type="text" placeholder="Configuration name (required)" [formControl]="configurationForm.controls['name']"
          autofocus>
      </md-input-container>
      <div *ngIf="configurationForm.controls['name'].hasError('pattern')">
          <p style='color:red;'>
            Names should start, end with a letter or number.<br/>
            Names may contain one of '.' ,'_', '-' or a space<br/>
            followed by letters or numbers </p>
      </div>
      <!--The cloud provider-->
      <md-input-container class="input-full-width"><input mdInput type="text" placeholder="Cloud provider (required)" [formControl]="configurationForm.controls['cloudProviderParametersName']"
          [mdAutocomplete]="cloudProvidersAuto">
      </md-input-container>
      <md-autocomplete #cloudProvidersAuto="mdAutocomplete">
        <md-option *ngFor="let aCloudProvider of filteredCloudProviderNames | async" [value]="aCloudProvider">
          {{ aCloudProvider }}
        </md-option>
      </md-autocomplete>
      <!--The SSH key-->
      <md-input-container class="input-full-width"><input mdInput type="text" placeholder="SSH public key" [formControl]="configurationForm.controls['sshKey']" autofocus>
      </md-input-container>
      <!--The deployment params-->
      <md-input-container class="input-full-width"><input mdInput type="text" placeholder="Deployment Parameters Name (required)" [formControl]="configurationForm.controls['deploymentParametersName']"
          [mdAutocomplete]="deploymentParametersAuto">
      </md-input-container>
      <md-autocomplete #deploymentParametersAuto="mdAutocomplete">
        <md-option *ngFor="let aDeploymentParameters of filteredDeploymentParametersNames | async" [value]="aDeploymentParameters">
          {{ aDeploymentParameters }}
        </md-option>
      </md-autocomplete>
    </form>
  </div>
</md-dialog-content>

<md-dialog-actions>
  <button [disabled]="configurationForm.controls['name'].hasError('required') || configurationForm.controls['cloudProviderParametersName'].hasError('required')"
    (click)="dialogRef.close(configurationForm.value)" md-raised-button class="button-color-accent">
    ADD
  </button>
</md-dialog-actions>