<cp-application-component #applicationDetail>
  <div class="detail-card-container">
  <md-card *ngIf="applicationDetail.applicationDeployer">
    <md-toolbar class="detail-card-toolbar">
      <h3>{{ applicationDetail.applicationDeployer.name }}</h3>
      <span class="fill-remaining-space"></span>
      <button md-icon-button (click)="applicationDetail.shareApplicationDialogShowing=!applicationDetail.shareApplicationDialogShowing">
        <md-icon>share</md-icon> 
      </button>
      <button md-icon-button color="warn" (click)="applicationDetail.removeApplication(applicationDetail.applicationDeployer)">
        <md-icon>delete_forever</md-icon> 
      </button>
    </md-toolbar>
    <md-card-content>
      <span class="flex-container-wide">
        <span class="flex-container-wide">
        <md-list dense>
          <md-list-item>
            <p>{{ applicationDetail.applicationDeployer.about }}</p>
          </md-list-item>
          <!--Application source-->
          <md-list-item>
            <h3 md-line>Source</h3>
            <p md-line class="param-value"><a href="{{ applicationDetail.applicationDeployer.repoUri }}">{{ applicationDetail.applicationDeployer.repoUri }}</a></p>
          </md-list-item>
          <md-list-item>
            <h3 md-line>Version</h3>
            <p md-line class="param-value">{{ applicationDetail.applicationDeployer.version }}</p>
          </md-list-item>
          <md-list-item>
            <h3 md-line>Contact</h3>
            <p md-line class="param-value">{{ applicationDetail.applicationDeployer.contact }}</p>
          </md-list-item>
        </md-list>
        <md-list dense>
          <md-list-item>
            <h3 md-line>Shared with</h3>
          </md-list-item>
          <md-list-item>
            <p md-line class="param-value">ameliec@ebi.ac.uk</p>
          </md-list-item>
          <md-list-item>
            <p md-line class="param-value">dario@ebi.ac.uk</p>
          </md-list-item>
          <md-list-item>
            <p md-line class="param-value">gianni@ebi.ac.uk</p>
          </md-list-item>
          <md-list-item>
            <p md-line class="param-value">jdianes@ebi.ac.uk</p>
          </md-list-item>
        </md-list>
        </span>
        <span class="share-application-dialog" *ngIf="applicationDetail.shareApplicationDialogShowing" open>
          <md-card>
            <md-card-header>
              <md-card-title>
                <h3>Share application</h3>
              </md-card-title>
            </md-card-header>
            <md-card-content>
              <form>
                <md-input type="url" placeholder="Share email (required)" autofocus>
                </md-input>
              </form>
            </md-card-content>
            <md-card-actions align="end">
              <button md-button (click)="applicationDetail.shareApplicationDialogShowing = false">
              ADD</button>
            </md-card-actions>
          </md-card>
        </span>
      </span>
      <md-list>
        <!--<md-list-item>
          <h3 md-line>Available for</h3>
          <p md-line class="param-value" *ngFor="let cloudProvider of applicationDetail.applicationDeployer.cloudProviders">
          {{ cloudProvider.cloudProvider }}</p>
        </md-list-item>-->
        <!--Application required volumes-->
        <h3 md-header>Volumes</h3>
        <md-divider></md-divider>
        <p md-subheader *ngIf="applicationDetail.applicationDeployer.volumes.length==0">This application requires no attached volumes</p>
        <!--<p md-subheader *ngIf="applicationDetail.applicationDeployer.volumes.length>0">This application requires to attach the following volumes</p>-->
        <md-list-item *ngFor="let aVolume of applicationDetail.applicationDeployer.volumes">
          <h3 md-line>{{ aVolume }}</h3>
          <select md-line (change)="applicationDetail.attachVolume(applicationDetail.applicationDeployer, aVolume, $event.target.value)">
            <option value="null">None</option>
            <option *ngFor="let volumeInstance of applicationDetail.volumeInstances" [value]="volumeInstance.reference">{{volumeInstance.reference}}</option>
          </select>
        </md-list-item>
        <!--Application required inputs-->
        <h3 md-header>Inputs</h3>
        <md-divider></md-divider>
        <p md-subheader *ngIf="applicationDetail.applicationDeployer.inputs.length==0">This application requires no input values</p>
        <!--<p md-subheader *ngIf="applicationDetail.applicationDeployer.inputs.length>0">This application requires to enter the following values</p>-->
        <md-list-item *ngFor="let anInput of applicationDetail.applicationDeployer.inputs">
          <md-input #{{anInput}} placeholder="{{ anInput }}" 
            (keyup.enter)="applicationDetail.assignInput(applicationDetail.applicationDeployer, anInput, $event.target.value)"
            (blur)="applicationDetail.assignInput(applicationDetail.applicationDeployer, anInput, $event.target.value)">
            <!--<span md-prefix>[some other hint]</span>-->
            <!--<span md-suffix>[value type]</span>-->
            <!--<md-hint align="end">[some other hint]</md-hint>-->
          </md-input>
        </md-list-item>
        <span *ngFor="let aCloudProvider of applicationDetail.applicationDeployer.cloudProviders">
          <span *ngIf="aCloudProvider.cloudProvider==applicationDetail.applicationDeployer.selectedCloudProvider">
            <md-list-item *ngFor="let anInput of aCloudProvider.inputs">
              <md-input #{{anInput}} placeholder="{{ anInput }}" 
                (keyup.enter)="applicationDetail.assignInput(applicationDetail.applicationDeployer, anInput, $event.target.value)"
                (blur)="applicationDetail.assignInput(applicationDetail.applicationDeployer, anInput, $event.target.value)">
                <!--<span md-prefix>[some other hint]</span>-->
                <!--<span md-suffix>[value type]</span>-->
                <!--<md-hint align="end">[some other hint]</md-hint>-->
              </md-input>
            </md-list-item>
          </span>
        </span>
        <br>
        <!--Application outputs-->
        <h3 md-header>Outputs</h3>
        <md-divider></md-divider>
        <p md-subheader *ngIf="applicationDetail.applicationDeployer.outputs.length==0">This application generates no output</p>
        <p md-subheader *ngIf="applicationDetail.applicationDeployer.outputs.length>0">This application will generate the following values</p>
        <md-list-item *ngFor="let anOutput of applicationDetail.applicationDeployer.outputs">
          <li>{{ anOutput }}</li>
        </md-list-item>
      </md-list>
      <md-divider></md-divider>
    </md-card-content>

    <!--A progress bar-->
    <md-progress-bar *ngIf="applicationDetail.applicationDeployer.deploying || applicationDetail.applicationDeployer.destroying" mode="indeterminate"></md-progress-bar>
    
    <!--These are the action controls-->
    <md-card-actions *ngIf="!applicationDetail.applicationDeployer.deploying && !applicationDetail.applicationDeployer.destroying">
      <button *ngIf="applicationDetail.cloudProviderParametersService.currentlySelectedCloudProviderParameters" md-raised-button 
      (click)="applicationDetail.deployApplication(applicationDetail.applicationDeployer)">
          DEPLOY
      </button>
      <button *ngIf="!applicationDetail.cloudProviderParametersService.currentlySelectedCloudProviderParameters" md-raised-button disabled>
          DEPLOY
      </button>
      <!--<md-radio-group [(ngModel)]="applicationDetail.applicationDeployer.selectedCloudProvider">
        <md-radio-button *ngFor="let cloudProvider of applicationDetail.applicationDeployer.cloudProviders" 
          [value]="cloudProvider.cloudProvider">{{ cloudProvider.cloudProvider }}</md-radio-button>
      </md-radio-group>-->
    </md-card-actions>
  </md-card>
  </div>
</cp-application-component>