<mat-dialog-content>

  <span>
    <mat-list>
      <mat-list-item>
        <p>{{ applicationDetail.applicationDeployer.about }}</p>
      </mat-list-item>
      <!--Application source-->
      <mat-list-item>
        <h3 matLine>Source</h3>
        <p matLine class="param-value"><a href="{{ applicationDetail.applicationDeployer.repoUri }}">{{ applicationDetail.applicationDeployer.repoUri }}</a></p>
      </mat-list-item>
      <mat-list-item>
        <h3 matLine>Version</h3>
        <p matLine class="param-value">{{ applicationDetail.applicationDeployer.version }}</p>
      </mat-list-item>
      <mat-list-item>
        <h3 matLine>Contact</h3>
        <p matLine class="param-value">{{ applicationDetail.applicationDeployer.contact }}</p>
      </mat-list-item>
      <!--Application outputs-->
      <h4 mat-header>Outputs</h4>
      <p matSubheader *ngIf="applicationDetail.applicationDeployer.outputs.length==0">This application generates no output</p>
      <mat-list-item *ngFor="let anOutput of applicationDetail.applicationDeployer.outputs">
        <mat-icon mat-list-icon>keyboard_arrow_left</mat-icon>
        <h4 matLine>{{ anOutput }}</h4>
      </mat-list-item>
    </mat-list>

    <!--Sharing permisions-->
    <h4 mat-header>Sharing details</h4>
    <mat-list>
      <span *ngIf="applicationDetail.applicationDeployer.isShared">
        <mat-list-item>
          <h3 matLine>Owned by</h3>
          <p matLine class="param-value">{{ applicationDetail.applicationDeployer.accountUsername }}</p>
        </mat-list-item>
      </span>
      <span *ngIf="!applicationDetail.applicationDeployer.isShared && applicationDetail.applicationDeployer.sharedWithAccountEmails.length>0">
        <mat-list-item>
          <h3 matLine>Shared with</h3>
          <p *ngFor="let accountEmail of applicationDetail.applicationDeployer.sharedWithAccountEmails" matLine class="param-value">{{ accountEmail }}<button mat-icon-button color="warn" (click)="applicationDetail.unshare(accountEmail)">
            <mat-icon>highlight_off</mat-icon> 
          </button></p>
        </mat-list-item>
      </span>
      <span *ngIf="applicationDetail.applicationDeployer.sharedWithTeamNames && applicationDetail.applicationDeployer.sharedWithTeamNames.length>0">
        <mat-list-item>
          <h3 matLine>Included in teams</h3>
          <p *ngFor="let teamName of applicationDetail.applicationDeployer.sharedWithTeamNames" matLine class="param-value">{{ teamName }}
            <button *ngIf="!applicationDetail.applicationDeployer.isShared" mat-icon-button color="warn" (click)="applicationDetail.unshare(teamName)">
              <mat-icon>highlight_off</mat-icon> 
            </button>
          </p>
        </mat-list-item>
      </span>
    </mat-list>
  </span>
</mat-dialog-content>
<span class="fill-remaining-space"></span>
<mat-dialog-actions>
  <button mat-button
  (click)="dialogRef.close()">CLOSE
  </button>
</mat-dialog-actions>


