<cp-application-component #applicationDetail>
  <div class="content">
    <div class="detail-card-container">
      <mat-card *ngIf="applicationDetail.applicationDeployer">
        <span class="flex-container-wide">
          <h3>{{ applicationDetail.applicationDeployer.name }}</h3>
          <!--Available providers-->
          <mat-chip-list selectable="false">
            <mat-chip *ngFor="let cloudProvider of applicationDetail.applicationDeployer.cloudProviders">
              {{ cloudProvider.cloudProvider }}
            </mat-chip>
          </mat-chip-list>
          <span class="fill-remaining-space"></span>
          <!--Info, share, and remove controls-->
          <button mat-icon-button (click)="openInfoApplicationDialog(applicationDetail)">
            <mat-icon>info_outline</mat-icon> 
          </button>
          <span *ngIf="!applicationDetail.applicationDeployer.isShared">
            <button mat-icon-button (click)="openShareApplicationDialog(applicationDetail)">
              <mat-icon>share</mat-icon> 
            </button>
            <button mat-icon-button color="warn" (click)="applicationDetail.removeApplication(applicationDetail.applicationDeployer)">
              <mat-icon>delete_forever</mat-icon> 
            </button>
          </span>
          <span *ngIf="applicationDetail.applicationDeployer.isShared">
            <p>SHARED</p>
          </span>
        </span>

        <!--Application data-->
        <mat-card-content>
          <!-- Configs and Deployment inputs -->
          <mat-list>
            <span>
              
              <p matSubheader *ngIf="applicationDetail.applicationDeployer.configurations.length==0">
                <mat-icon mat-list-icon>warning</mat-icon>
                The user account has no pre set configurations to assign deployment parameters.
              </p>

              <mat-list>
                <mat-list-item>
                  <mat-icon mat-list-icon>settings_applications</mat-icon>
                   <div matLine class="input-full-width"> 
                    <mat-select class="input-full-width" placeholder="Select Configuration" 
                      [(ngModel)]="selectedConfig"
                      (change)="applicationDetail.addConfiguration(applicationDetail.applicationDeployer, selectedConfig)">
                      <span *ngIf="applicationDetail.applicationDeployer.configurations.length>0">
                      <mat-option *ngFor="let config of applicationDetail.applicationDeployer.configurations" [value]="config">
                              <span *ngIf="config !== undefined">
                                {{ config.name }} | @({{ config.cloudProviderParametersName }})
                              </span> 
                      </mat-option>
                      </span>
                    </mat-select>
                   </div> 
                </mat-list-item>
                <p matSubheader *ngIf="applicationDetail.applicationDeployer.deploymentParameters.length>0">Deployment parameters
                  <button *ngIf="!applicationDetail.emptyAssigment" mat-icon-button color="primary" (click)="applicationDetail.parametersShowing=!applicationDetail.parametersShowing">
                    <mat-icon>visibility</mat-icon>
                  </button>
                  <button *ngIf="applicationDetail.emptyAssigment" 
                    mat-icon-button color="warn" matTooltip="Some deployment parameters remain unassigned"
                    (click)="applicationDetail.parametersShowing=!applicationDetail.parametersShowing">
                    <mat-icon>visibility</mat-icon><mat-icon>warning</mat-icon>  
                  </button>
                </p>

                <span *ngIf="applicationDetail.parametersShowing">
                  <mat-list-item *ngFor="let aDeploymentParameter of applicationDetail.applicationDeployer.deploymentParameters">
                      <mat-icon mat-list-icon>extension</mat-icon>
                      <h4 matLine>{{ aDeploymentParameter }}</h4>
                      <p matLine *ngIf="applicationDetail.applicationDeployer.assignedParameters[aDeploymentParameter]" class="param-value">
                        {{ applicationDetail.applicationDeployer.assignedParameters[aDeploymentParameter] }}
                      </p>
                      <p matLine *ngIf="!applicationDetail.applicationDeployer.assignedParameters[aDeploymentParameter]">
                        <em style="color: red;">Not assigned</em>
                      </p>
                  </mat-list-item>
                </span>
              </mat-list>
            </span>

            <!--Optional SSH key-->
            <span *ngIf="applicationDetail.selectedConfiguration">
              <h3 mat-header>User SSH key (optional)</h3>
              <mat-list-item>
                <mat-icon mat-list-icon>vpn_key</mat-icon>
                <mat-form-field matLine class="input-full-width">
                  <input matInput #sshkey placeholder="SSH key"
                  (keyup.enter)="applicationDetail.assignUserSshKey(applicationDetail.applicationDeployer, $event.target.value)"
                  (blur)="applicationDetail.assignUserSshKey(applicationDetail.applicationDeployer, $event.target.value)">
                </mat-form-field>
              </mat-list-item>
            </span>
            <!--Application required inputs-->
            <span *ngIf="!applicationDetail.applicationDeployer.inputs.length==0 && applicationDetail.selectedConfiguration">
              <h3 mat-header>Inputs</h3>
              <mat-list-item *ngFor="let anInput of applicationDetail.applicationDeployer.inputs">
                <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
                <mat-form-field matLine class="input-full-width"><input matInput #{{anInput}} placeholder="{{ anInput }}" (keyup.enter)="applicationDetail.assignInput(applicationDetail.applicationDeployer, anInput, $event.target.value)"
                    (blur)="applicationDetail.assignInput(applicationDetail.applicationDeployer, anInput, $event.target.value)">
                </mat-form-field>
              </mat-list-item>

              <span *ngFor="let aCloudProvider of applicationDetail.applicationDeployer.cloudProviders">
                <span *ngIf="applicationDetail.cloudProviderParametersService.currentlySelectedCloudProviderParameters && aCloudProvider.cloudProvider==applicationDetail.cloudProviderParametersService.currentlySelectedCloudProviderParameters.cloudProvider">
                  <mat-list-item *ngFor="let anInput of aCloudProvider.inputs">
                    <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
                    <mat-form-field matLine class="input-full-width"><input matInput #{{anInput}} placeholder="{{ anInput }}" 
                      (keyup.enter)="applicationDetail.assignInput(applicationDetail.applicationDeployer, anInput, $event.target.value)"
                      (blur)="applicationDetail.assignInput(applicationDetail.applicationDeployer, anInput, $event.target.value)">
                    </mat-form-field>
                  </mat-list-item>
                </span>
              </span>
            </span>

            <!--Application required volumes-->
            <span *ngIf="!applicationDetail.applicationDeployer.volumes.length==0 && applicationDetail.selectedConfiguration">
              <h3 mat-header>Volumes</h3>
              <mat-list-item *ngFor="let aVolume of applicationDetail.applicationDeployer.volumes">
                <mat-icon mat-list-icon>storage</mat-icon>
                <mat-select placeholder="{{ aVolume }}" matLine (change)="applicationDetail.attachVolume(applicationDetail.applicationDeployer, aVolume, $event.target.value)">
                  <!--<mat-option value="null">None</mat-option>-->
                  <mat-option *ngFor="let volumeInstance of applicationDetail.volumeInstances" [value]="volumeInstance.reference">{{volumeInstance.reference}}</mat-option>
                </mat-select>
              </mat-list-item>
            </span>
            
          </mat-list>

        </mat-card-content>

        <!--A progress bar-->
        <mat-progress-bar *ngIf="applicationDetail.applicationDeployer.deploying || applicationDetail.applicationDeployer.destroying"
          mode="indeterminate"></mat-progress-bar>

        <!--These are the action controls-->
        <mat-card-actions *ngIf="!applicationDetail.applicationDeployer.deploying && !applicationDetail.applicationDeployer.destroying">
        
          <span *ngIf="!applicationDetail.selectedConfiguration"
            matTooltip="Please, select a valid configuration"
              matTooltipPosition="right" matTooltipHideDelay="1000">
            <button mat-raised-button disabled>
                DEPLOY
            </button>
          </span>

          <span *ngIf="applicationDetail.selectedConfiguration" 
              matTooltip="This application will be deployed to {{ applicationDetail.selectedConfiguration.cloudProviderParametersName }}"
              matTooltipPosition="right" matTooltipHideDelay="1000">
            <button mat-raised-button (click)="openConfirmDeploymentDialog(applicationDetail)">
                DEPLOY
            </button>
          </span>

        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</cp-application-component>