<cp-profile-component #profileComponent>

	<button md-mini-fab (click)="profileComponent.addCloudCredentialsFormShowing=!profileComponent.addCloudCredentialsFormShowing">
    <md-icon>add</md-icon>
  </button>

	<md-card *ngIf="profileComponent.account">
		<md-card-header>
			<img md-card-avatar src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/AWS_Simple_Icons_Non-Service_Specific_User.svg/2000px-AWS_Simple_Icons_Non-Service_Specific_User.svg.png"
			/>
			<md-card-title>{{ profileComponent.account.userName }}</md-card-title>
			<md-card-subtitle>{{ profileComponent.account.email }}</md-card-subtitle>
		</md-card-header>
		<md-card-content>
			<p>
				<md-icon md-list-icon>home</md-icon><a href="http://my.homepage.me">http://my.homepage.me</a></p>
			<p>
				<md-icon md-list-icon>domain</md-icon>{{ profileComponent.account.organisation }}</p>
		</md-card-content>
	</md-card>

  <md-card *ngIf="profileComponent.addCloudCredentialsFormShowing">
    <md-card-title><h3>Add Cloud Credentials</h3></md-card-title>
    <md-card-content>
      <form [formGroup]="profileComponent.cloudCredentialsForm" autocomplete="off">
        <md-input 
					type="text" 
					placeholder="Credentials name" 
					[formControl]="profileComponent.cloudCredentialsForm.controls['name']" 
					autofocus>
        </md-input>
        <div *ngIf="!profileComponent.cloudCredentialsForm.controls['name'].valid" class="ui error message">Name is invalid</div>
        <div *ngIf="profileComponent.cloudCredentialsForm.controls['name'].hasError('required')" class="ui error message">Name is required</div>
				<md-input 
					type="text" 
					placeholder="Cloud provider" 
					[formControl]="profileComponent.cloudCredentialsForm.controls['cloudProvider']" 
					autofocus>
        </md-input>
        <div *ngIf="!profileComponent.cloudCredentialsForm.controls['cloudProvider'].valid" class="ui error message">Provider is invalid</div>
        <div *ngIf="profileComponent.cloudCredentialsForm.controls['cloudProvider'].hasError('required')" class="ui error message">Provider is required</div>
				<md-input 
					type="text" 
					placeholder="Credentials fields (JSON array)" 
					[formControl]="profileComponent.cloudCredentialsForm.controls['fields']" 
					autofocus>
        </md-input>
        <div *ngIf="!profileComponent.cloudCredentialsForm.controls['fields'].valid" class="ui error message">Fields are invalid</div>
        <div *ngIf="profileComponent.cloudCredentialsForm.controls['fields'].hasError('required')" class="ui error message">Fields are required</div>
      </form>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button class="button-color-accent" 
				(click)="profileComponent.addCloudCredentials(profileComponent.cloudCredentialsForm.value); profileComponent.addCloudCredentialsFormShowing = false"
        align="end">Add</button>
    </md-card-actions>
  </md-card>

	<md-content *ngIf="profileComponent.account">
		
		<div class="card-container credentials-card-container">
			<md-card *ngFor="let cloudCredentials of profileComponent.cloudCredentialsPresenters" class="credentials-container">
				<md-toolbar class="md-card-toolbar">
					<md-icon class="card-type-icon">vpn_key</md-icon>{{ cloudCredentials.name }}
					<button md-icon-button color="warn" (click)="profileComponent.removeCloudCredentials(cloudCredentials)">
						<md-icon class="card-action-icon">clear</md-icon> 
					</button>
					</md-toolbar>
				<md-card-content>
					<md-list dense>
						<md-list-item>
							<h3 md-line>Provider</h3>
							<p md-line class="param-value">{{ cloudCredentials.cloudProvider }}</p>
						</md-list-item>
						<h3 md-header>Fields</h3>
						<md-divider></md-divider>
						<md-list-item *ngFor="let credentialField of cloudCredentials.fields">
							<h3 md-line>{{ credentialField.key }}</h3>
							<p md-line class="param-value">{{ credentialField.value }}</p>
						</md-list-item>
					</md-list>
				</md-card-content>
			</md-card>
		</div>
	</md-content>

	
</cp-profile-component>