<cp-profile-component #profileComponent>

	<md-card class="background-card" *ngIf="profileComponent.account">
		<md-card-content>
			<md-card-title-group>
				<img class="profile-image" *ngIf="profileComponent.account.avatarImageUrl" md-card-sm-image src="{{ profileComponent.account.avatarImageUrl }}"/>
				<img class="profile-image" *ngIf="!profileComponent.account.avatarImageUrl" md-card-sm-image [src]="userUrl"/>
				<md-card-title>{{ profileComponent.account.userName }}</md-card-title>
				<md-card-subtitle><md-icon md-list-icon>domain</md-icon> {{ profileComponent.account.organisation }}</md-card-subtitle>
				<md-card-subtitle><md-icon md-list-icon>mail_outline</md-icon> {{ profileComponent.account.email }}</md-card-subtitle>
				<md-card-subtitle><md-icon md-list-icon>person_outline</md-icon> Joined {{ profileComponent.account.firstJoinedDate | date:'longDate'}}</md-card-subtitle>
			</md-card-title-group>
		</md-card-content>
	</md-card>

	<md-tab-group #configurationsTabGroup>
		<md-tab>
			<template md-tab-label>Cloud Providers</template>
			<template md-tab-content>

				<md-card *ngIf="!profileComponent.cloudProviderParametersPresenters || profileComponent.cloudProviderParametersPresenters.length==0">
					No cloud providers registered yet
				</md-card>

				<button md-mini-fab (click)="profileComponent.addCloudProviderParametersFormShowing=!profileComponent.addCloudProviderParametersFormShowing">
					<md-icon>add</md-icon>
				</button>

				<md-card *ngIf="profileComponent.addCloudProviderParametersFormShowing">
					<md-card-title><h3>Add Cloud Provider parameters</h3></md-card-title>
					<md-card-content>
						<form [formGroup]="profileComponent.cloudProviderParametersForm" autocomplete="off">
							<md-input 
								type="text" 
								placeholder="Provider parameters name" 
								[formControl]="profileComponent.cloudProviderParametersForm.controls['name']" 
								autofocus>
							</md-input>
							<!--<div *ngIf="!profileComponent.cloudProviderParametersForm.controls['name'].valid" class="ui error message">Name is invalid</div>-->
							<div *ngIf="profileComponent.cloudProviderParametersForm.controls['name'].hasError('required')" class="ui error message">Name is required</div>
							<md-input 
								type="text" 
								placeholder="Cloud provider" 
								[formControl]="profileComponent.cloudProviderParametersForm.controls['cloudProvider']" 
								autofocus>
							</md-input>
							<!--<div *ngIf="!profileComponent.cloudProviderParametersForm.controls['cloudProvider'].valid" class="ui error message">Provider is invalid</div>-->
							<div *ngIf="profileComponent.cloudProviderParametersForm.controls['cloudProvider'].hasError('required')" class="ui error message">Provider is required</div>
							
							<h3>Parameters <button md-icon-button color="primary" (click)="profileComponent.addNewCloudProviderParametersFormField()">
              <md-icon>add</md-icon> 
            	</button></h3>
							<!--Fields-->
							<div *ngFor="let fieldFormGroup of profileComponent.cloudProviderParametersForm.controls['fields'].controls">
								<form [formGroup]="fieldFormGroup">
									<table style="width: 100%" cellspacing="0"><tr>
									<td><md-input 
										type="text" 
										placeholder="Enter parameter key" 
										[formControl]="fieldFormGroup.controls['key']" 
										autofocus></md-input></td>
									<td><md-input 
										type="text" 
										placeholder="Enter parameter value" 
										[formControl]="fieldFormGroup.controls['value']" 
										autofocus></md-input></td>
										</tr></table>
								</form>
							</div>
							
						</form>
					</md-card-content>
					<md-card-actions>
						<button md-raised-button class="button-color-accent" 
							(click)="profileComponent.addCloudProviderParameters(profileComponent.cloudProviderParametersForm.value); profileComponent.addCloudProviderParametersFormShowing = false"
							align="end">Add</button>
					</md-card-actions>
				</md-card>

				<md-content *ngIf="profileComponent.cloudProviderParametersPresenters">
					
					<div class="card-container credentials-card-container">
						<md-card *ngFor="let cloudProviderParametersPresenter of profileComponent.cloudProviderParametersPresenters" class="credentials-container">
							<md-toolbar class="md-card-toolbar">
								<md-icon class="card-type-icon">vpn_key</md-icon>{{ cloudProviderParametersPresenter.name }}
								<span class="toolbar-fill-remaining-space"></span>
								<button md-icon-button color="warn" (click)="profileComponent.removeCloudProviderParameters(cloudProviderParametersPresenter)">
									<md-icon>clear</md-icon> 
								</button>
								</md-toolbar>
							<md-card-content>
								<md-list dense>
									<md-list-item>
										<h3 md-line>Provider</h3>
										<p md-line class="param-value">{{ cloudProviderParametersPresenter.cloudProvider }}</p>
									</md-list-item>
									<h3 md-header>Parameters</h3>
									<md-divider></md-divider>
									<md-list-item *ngFor="let cloudProviderParametersField of cloudProviderParametersPresenter.fields">
										<h3 md-line>{{ cloudProviderParametersField.key }}</h3>
										<p md-line class="param-value">{{ cloudProviderParametersField.value }}</p>
									</md-list-item>
								</md-list>
							</md-card-content>
						</md-card>
					</div>
				</md-content>
			</template>
		</md-tab>

<md-tab>
				<template md-tab-label>Configurations</template>
				<template md-tab-content>

					<md-card *ngIf="!profileComponent.configurationPresenters || profileComponent.configurationPresenters.length==0">
						No configurations registered yet
					</md-card>

					<button md-mini-fab (click)="profileComponent.addConfigurationFormShowing=!profileComponent.addConfigurationFormShowing">
						<md-icon>add</md-icon>
					</button>

					<md-card *ngIf="profileComponent.addConfigurationFormShowing">
						<md-card-title><h3>Add configuration</h3></md-card-title>
						<md-card-content>
							<form [formGroup]="profileComponent.configurationForm" autocomplete="off">
								<md-input 
									type="text" 
									placeholder="Configuration name" 
									[formControl]="profileComponent.configurationForm.controls['name']" 
									autofocus>
								</md-input>
								<!--<div *ngIf="!profileComponent.configurationForm.controls['name'].valid" class="ui error message">Name is invalid</div>-->
								<div *ngIf="profileComponent.configurationForm.controls['name'].hasError('required')" class="ui error message">Name is required</div>
								<md-input 
									type="text" 
									placeholder="Cloud provider parameters name" 
									[formControl]="profileComponent.configurationForm.controls['cloudProviderParametersName']" 
									autofocus>
								</md-input>
								<!--<div *ngIf="!profileComponent.configurationForm.controls['cloudProviderParametersName'].valid" class="ui error message">Cloud provider parameters name is invalid</div>-->
								<div *ngIf="profileComponent.configurationForm.controls['cloudProviderParametersName'].hasError('required')" class="ui error message">Cloud provider parameters name is required</div>
								<md-input 
									type="text" 
									placeholder="SSH public key" 
									[formControl]="profileComponent.configurationForm.controls['sshKey']" 
									autofocus>
								</md-input>
								<!--<div *ngIf="!profileComponent.configurationForm.controls['sshKey'].valid" class="ui error message">SSH Public Key is invalid</div>-->
								<div *ngIf="profileComponent.configurationForm.controls['sshKey'].hasError('required')" class="ui error message">SSH Public Key is required</div>
								
								<h3>Parameters <button md-icon-button color="primary" (click)="profileComponent.addNewConfigFormField()">
              	<md-icon>add</md-icon> 
            		</button></h3>
								<!--Fields-->
								<div *ngFor="let fieldFormGroup of profileComponent.configurationForm.controls['fields'].controls">
									<form [formGroup]="fieldFormGroup">
										<table style="width: 100%" cellspacing="0"><tr>
										<td><md-input 
											type="text" 
											placeholder="Enter parameter key" 
											[formControl]="fieldFormGroup.controls['key']" 
											autofocus></md-input></td>
										<td><md-input 
											type="text" 
											placeholder="Enter parameter value" 
											[formControl]="fieldFormGroup.controls['value']" 
											autofocus></md-input></td>
											</tr></table>
									</form>
								</div>
							</form>
						</md-card-content>
						<md-card-actions>
							<button md-raised-button class="button-color-accent" 
								(click)="profileComponent.addConfiguration(profileComponent.configurationForm.value); profileComponent.addConfigurationFormShowing = false"
								align="end">Add</button>
						</md-card-actions>
					</md-card>

					<md-content *ngIf="profileComponent.configurationPresenters">
						
						<div class="card-container credentials-card-container">
							<md-card *ngFor="let configurationPresenter of profileComponent.configurationPresenters" class="credentials-container">
								<md-toolbar class="md-card-toolbar">
									<md-icon class="card-type-icon">settings_applications</md-icon>{{ configurationPresenter.name }}
									<span class="toolbar-fill-remaining-space"></span>
									<button md-icon-button color="warn" (click)="profileComponent.removeConfiguration(configurationPresenter)">
										<md-icon>clear</md-icon> 
									</button>
									</md-toolbar>
								<md-card-content>
									<md-list dense>
										<md-list-item>
											<h3 md-line>Cloud provider parameters</h3>
											<p md-line class="param-value">{{ configurationPresenter.cloudProviderParametersName }}</p>
										</md-list-item>
										<md-list-item>
											<h3 md-line>SSH Public Key</h3>
											<p md-line class="param-value">{{ configurationPresenter.sshKey }}</p>
										</md-list-item>
										<h3 md-header>Parameters</h3>
										<md-divider></md-divider>
										<md-list-item *ngFor="let configurationField of configurationPresenter.fields">
											<h3 md-line>{{ configurationField.key }}</h3>
											<p md-line class="param-value">{{ configurationField.value }}</p>
										</md-list-item>
									</md-list>
								</md-card-content>
							</md-card>
						</div>
					</md-content>

				</template>
		</md-tab>

	</md-tab-group>

</cp-profile-component>