<cp-profile-component #profileComponent>

	<md-card *ngIf="profileComponent.account">
		<md-card-content>
			<md-card-title-group>
				<img class="profile-image" *ngIf="profileComponent.account.avatarImageUrl" md-card-sm-image src="{{ profileComponent.account.avatarImageUrl }}"/>
				<img class="profile-image" *ngIf="!profileComponent.account.avatarImageUrl" md-card-sm-image [src]="userUrl"/>
				<md-card-title>{{ profileComponent.account.userName }}</md-card-title>
				<md-card-subtitle><md-icon md-list-icon>domain</md-icon> {{ profileComponent.account.organisation }}</md-card-subtitle>
				<md-card-subtitle><md-icon md-list-icon>mail_outline</md-icon> {{ profileComponent.account.email }}</md-card-subtitle>
				<md-card-subtitle><md-icon md-list-icon>person_outline</md-icon> Joined {{ profileComponent.account.firstJoinedDate | date:'longDate'}}</md-card-subtitle>
			</md-card-title-group>
		</md-card-content>
	</md-card>

	<md-tab-group #profileTabGroup>
		<md-tab>
				<template md-tab-label>Configurations</template>
				<template md-tab-content>

					<md-card *ngIf="!profileComponent.profilePresenters || profileComponent.profilePresenters.length==0">
						No configurations registered yet
					</md-card>

					<button md-mini-fab (click)="profileComponent.addProfileFormShowing=!profileComponent.addProfileFormShowing">
						<md-icon>add</md-icon>
					</button>

					<md-card *ngIf="profileComponent.addProfileFormShowing">
						<md-card-title><h3>Add configuration</h3></md-card-title>
						<md-card-content>
							<form [formGroup]="profileComponent.profileForm" autocomplete="off">
								<md-input 
									type="text" 
									placeholder="Profile name" 
									[formControl]="profileComponent.profileForm.controls['name']" 
									autofocus>
								</md-input>
								<div *ngIf="!profileComponent.profileForm.controls['name'].valid" class="ui error message">Name is invalid</div>
								<div *ngIf="profileComponent.profileForm.controls['name'].hasError('required')" class="ui error message">Name is required</div>
								<md-input 
									type="text" 
									placeholder="Cloud credentials name" 
									[formControl]="profileComponent.profileForm.controls['cloudCredentialsName']" 
									autofocus>
								</md-input>
								<div *ngIf="!profileComponent.profileForm.controls['cloudCredentialsName'].valid" class="ui error message">Cloud credentials name is invalid</div>
								<div *ngIf="profileComponent.profileForm.controls['cloudCredentialsName'].hasError('required')" class="ui error message">Cloud credentials name is required</div>
								<md-input 
									type="text" 
									placeholder="SSH public key" 
									[formControl]="profileComponent.profileForm.controls['sshKey']" 
									autofocus>
								</md-input>
								<div *ngIf="!profileComponent.profileForm.controls['sshKey'].valid" class="ui error message">SSH Public Key is invalid</div>
								<div *ngIf="profileComponent.profileForm.controls['sshKey'].hasError('required')" class="ui error message">SSH Public Key is required</div>
								<md-input 
									type="text" 
									placeholder="Profile fields (JSON array)" 
									[formControl]="profileComponent.profileForm.controls['fields']" 
									autofocus>
								</md-input>
								<div *ngIf="!profileComponent.profileForm.controls['fields'].valid" class="ui error message">Fields are invalid</div>
								<div *ngIf="profileComponent.profileForm.controls['fields'].hasError('required')" class="ui error message">Fields are required</div>
							</form>
						</md-card-content>
						<md-card-actions>
							<button md-raised-button class="button-color-accent" 
								(click)="profileComponent.addProfile(profileComponent.profileForm.value); profileComponent.addProfileFormShowing = false"
								align="end">Add</button>
						</md-card-actions>
					</md-card>

					<md-content *ngIf="profileComponent.profilePresenters">
						
						<div class="card-container credentials-card-container">
							<md-card *ngFor="let profilePresenter of profileComponent.profilePresenters" class="credentials-container">
								<md-toolbar class="md-card-toolbar">
									<md-icon class="card-type-icon">settings_applications</md-icon>{{ profilePresenter.name }}
									<button md-icon-button color="warn" (click)="profileComponent.removeProfile(profilePresenter)">
										<md-icon class="card-action-icon">clear</md-icon> 
									</button>
									</md-toolbar>
								<md-card-content>
									<md-list dense>
										<md-list-item>
											<h3 md-line>Cloud provider parameters</h3>
											<p md-line class="param-value">{{ profilePresenter.cloudCredentialsName }}</p>
										</md-list-item>
										<md-list-item>
											<h3 md-line>SSH Public Key</h3>
											<p md-line class="param-value">{{ profilePresenter.sshKey }}</p>
										</md-list-item>
										<h3 md-header>Fields</h3>
										<md-divider></md-divider>
										<md-list-item *ngFor="let profileField of profilePresenter.fields">
											<h3 md-line>{{ profileField.key }}</h3>
											<p md-line class="param-value">{{ profileField.value }}</p>
										</md-list-item>
									</md-list>
								</md-card-content>
							</md-card>
						</div>
					</md-content>

				</template>
		</md-tab>

		<md-tab>
			<template md-tab-label>Cloud Providers</template>
			<template md-tab-content>

				<md-card *ngIf="!profileComponent.cloudCredentialsPresenters || profileComponent.cloudCredentialsPresenters.length==0">
					No cloud providers registered yet
				</md-card>

				<button md-mini-fab (click)="profileComponent.addCloudCredentialsFormShowing=!profileComponent.addCloudCredentialsFormShowing">
					<md-icon>add</md-icon>
				</button>

				<md-card *ngIf="profileComponent.addCloudCredentialsFormShowing">
					<md-card-title><h3>Add Cloud Credentials</h3></md-card-title>
					<md-card-content>
						<form [formGroup]="profileComponent.cloudCredentialsForm" autocomplete="off">
							<md-input 
								type="text" 
								placeholder="Credentials name" 
								[formControl]="profileComponent.cloudCredentialsForm.controls['name']" 
								autofocus>
							</md-input>
							<div *ngIf="!profileComponent.cloudCredentialsForm.controls['name'].valid" class="ui error message">Name is invalid</div>
							<div *ngIf="profileComponent.cloudCredentialsForm.controls['name'].hasError('required')" class="ui error message">Name is required</div>
							<md-input 
								type="text" 
								placeholder="Cloud provider" 
								[formControl]="profileComponent.cloudCredentialsForm.controls['cloudProvider']" 
								autofocus>
							</md-input>
							<div *ngIf="!profileComponent.cloudCredentialsForm.controls['cloudProvider'].valid" class="ui error message">Provider is invalid</div>
							<div *ngIf="profileComponent.cloudCredentialsForm.controls['cloudProvider'].hasError('required')" class="ui error message">Provider is required</div>
							<md-input 
								type="text" 
								placeholder="Credentials fields (JSON array)" 
								[formControl]="profileComponent.cloudCredentialsForm.controls['fields']" 
								autofocus>
							</md-input>
							<div *ngIf="!profileComponent.cloudCredentialsForm.controls['fields'].valid" class="ui error message">Fields are invalid</div>
							<div *ngIf="profileComponent.cloudCredentialsForm.controls['fields'].hasError('required')" class="ui error message">Fields are required</div>
						</form>
					</md-card-content>
					<md-card-actions>
						<button md-raised-button class="button-color-accent" 
							(click)="profileComponent.addCloudCredentials(profileComponent.cloudCredentialsForm.value); profileComponent.addCloudCredentialsFormShowing = false"
							align="end">Add</button>
					</md-card-actions>
				</md-card>

				<md-content *ngIf="profileComponent.cloudCredentialsPresenters">
					
					<div class="card-container credentials-card-container">
						<md-card *ngFor="let cloudCredentials of profileComponent.cloudCredentialsPresenters" class="credentials-container">
							<md-toolbar class="md-card-toolbar">
								<md-icon class="card-type-icon">vpn_key</md-icon>{{ cloudCredentials.name }}
								<button md-icon-button color="warn" (click)="profileComponent.removeCloudCredentials(cloudCredentials)">
									<md-icon class="card-action-icon">clear</md-icon> 
								</button>
								</md-toolbar>
							<md-card-content>
								<md-list dense>
									<md-list-item>
										<h3 md-line>Provider</h3>
										<p md-line class="param-value">{{ cloudCredentials.cloudProvider }}</p>
									</md-list-item>
									<h3 md-header>Fields</h3>
									<md-divider></md-divider>
									<md-list-item *ngFor="let credentialField of cloudCredentials.fields">
										<h3 md-line>{{ credentialField.key }}</h3>
										<p md-line class="param-value">{{ credentialField.value }}</p>
									</md-list-item>
								</md-list>
							</md-card-content>
						</md-card>
					</div>
				</md-content>
			</template>
		</md-tab>

	</md-tab-group>

</cp-profile-component>