<cp-profile-component #profileComponent>
	<button mat-fab (click)="openAddDialog(profileComponent, configurationsTabGroup)">
		<mat-icon>add</mat-icon>
	</button>

	<div class="content">
		<mat-card class="background-card" *ngIf="profileComponent.account">
			<mat-card-content>
				<mat-card-title-group>
					<mat-card-title>{{ profileComponent.account.givenName }}</mat-card-title>
					<mat-card-subtitle>
						<mat-icon mat-list-icon>mail_outline</mat-icon> {{ profileComponent.account.email }}</mat-card-subtitle>
					<mat-card-subtitle>
						<mat-icon mat-list-icon>person_outline</mat-icon> Joined {{ profileComponent.account.firstJoinedDate | date:'longDate'}}</mat-card-subtitle>
				</mat-card-title-group>
			</mat-card-content>
		</mat-card>

		<mat-tab-group (selectedIndexChange)="profileComponent.addFormShowing=false; checkForParams()" #configurationsTabGroup>

			<mat-tab label="Configurations">
				
				<mat-card class="background-card" *ngIf="((!profileComponent.configurationPresenters || profileComponent.configurationPresenters.length==0)
				&& (!profileComponent.sharedConfigurationPresenters || profileComponent.sharedConfigurationPresenters.length==0) )">
						No configurations registered/shared yet
				</mat-card>

				<div class="mat-content" *ngIf="profileComponent.configurationPresenters">
					<span class="wide-summary-card-container">
					<mat-card [routerLink]=" ['/configuration/', configurationPresenter.name]" *ngFor="let configurationPresenter of profileComponent.configurationPresenters" class="credentials-container">
					<span class="flex-container-wide">
						<mat-icon class="card-type-icon">settings_applications</mat-icon>
						<h3><mat-icon *ngIf="configurationPresenter.obsolete" matTooltip="This configuration is obsolete. No associated credential or deployment parameters found.
							It is advisable to delete this."
            				matTooltipPosition="right" matTooltipHideDelay="1000">not_interested</mat-icon>{{configurationPresenter.name}}</h3>
							<span class="fill-remaining-space"></span>
					</span>
					<mat-card-content>
						<mat-list-item>
							<mat-icon mat-list-icon class="card-type-icon">vpn_key</mat-icon>
							<h3 matLine>Cloud provider parameters</h3>
							<p matLine class="param-value">{{ configurationPresenter.cloudProviderParametersName }}</p>
						</mat-list-item>
						<mat-list-item>
							<mat-icon mat-list-icon class="card-type-icon">lock_open</mat-icon>
							<h3 matLine>SSH Public Key</h3>
							<p matLine class="param-value">{{ configurationPresenter.sshKey }}</p>
						</mat-list-item>
						<mat-list-item>
							<mat-icon mat-list-icon class="card-type-icon">extension</mat-icon>
							<h3 matLine>Parameters</h3>
							<p matLine class="param-value">{{ configurationPresenter.deploymentParametersName }}</p>
						</mat-list-item>
					</mat-card-content>
					</mat-card>

					<mat-card [routerLink]=" ['/configuration/shared/', configurationPresenter.name]" *ngFor="let configurationPresenter of profileComponent.sharedConfigurationPresenters" class="credentials-container">
					<span class="flex-container-wide">
						<mat-icon class="card-type-icon">settings_applications</mat-icon>
    						<h3><mat-icon *ngIf="configurationPresenter.obsolete" matTooltip="This configuration is obsolete. No associated credential or deployment parameters found.
							It is advisable to delete this."
            				matTooltipPosition="right" matTooltipHideDelay="1000">not_interested</mat-icon>{{configurationPresenter.name}}</h3>
							<span class="fill-remaining-space"></span>
							<p>SHARED</p>
					</span>
					<mat-card-content>
						<mat-list-item>
							<mat-icon mat-list-icon class="card-type-icon">vpn_key</mat-icon>
							<h3 matLine>Cloud provider parameters</h3>
							<p matLine class="param-value">{{ configurationPresenter.cloudProviderParametersName }}</p>
						</mat-list-item>
						<mat-list-item>
							<mat-icon mat-list-icon class="card-type-icon">lock_open</mat-icon>
							<h3 matLine>SSH Public Key</h3>
							<p matLine class="param-value">{{ configurationPresenter.sshKey }}</p>
						</mat-list-item>
						<mat-list-item>
							<mat-icon mat-list-icon class="card-type-icon">extension</mat-icon>
							<h3 matLine>Parameters</h3>
							<p matLine class="param-value">{{ configurationPresenter.deploymentParametersName }}</p>
						</mat-list-item>
					</mat-card-content>
					</mat-card>
					</span>
				</div>

			</mat-tab>

			<mat-tab label="Cloud Credentials">
				<mat-card class="background-card" *ngIf="((!profileComponent.cloudProviderParametersPresenters || profileComponent.cloudProviderParametersPresenters.length==0)
				&& (!profileComponent.sharedCloudProviderParametersPresenters || profileComponent.sharedCloudProviderParametersPresenters.length==0) )">
						No credentials registered/shared yet
				</mat-card>
				

				<div class="mat-content" *ngIf="profileComponent.cloudProviderParametersPresenters">
					<div class="wide-summary-card-container">
						<mat-card [routerLink]=" ['/cloudprovider/', cloudProviderParametersPresenter.name]" *ngFor="let cloudProviderParametersPresenter of profileComponent.cloudProviderParametersPresenters"
						 class="credentials-container">
							<span class="flex-container-wide">
								<mat-icon class="card-type-icon">vpn_key</mat-icon>
								<h3>{{ cloudProviderParametersPresenter.name }}</h3>
								<span class="fill-remaining-space"></span>
							</span>
							<mat-card-content>
								<mat-list dense>
									<mat-list-item>
										<h3 matLine>Provider</h3>
										<p matLine class="param-value">{{ cloudProviderParametersPresenter.cloudProvider }}</p>
									</mat-list-item>
								</mat-list>
							</mat-card-content>
							<mat-card-actions>
							</mat-card-actions>
						</mat-card>

						<mat-card [routerLink]=" ['/cloudprovider/shared/', cloudProviderParametersPresenter.name]" *ngFor="let cloudProviderParametersPresenter of profileComponent.sharedCloudProviderParametersPresenters"
						 class="credentials-container">
							<span class="flex-container-wide">
								<mat-icon class="card-type-icon">vpn_key</mat-icon>
								<h3>{{ cloudProviderParametersPresenter.name }}</h3>
								<span class="fill-remaining-space"></span>
								<p>SHARED</p>
							</span>
							<mat-card-content>
								<mat-list dense>
									<span class="flex-container-wide">
										<mat-list-item>
											<h3 matLine>Provider</h3>
											<p matLine class="param-value">{{ cloudProviderParametersPresenter.cloudProvider }}</p>
										</mat-list-item>
										<span class="fill-remaining-space"></span>
									<mat-list-item>
										<h3 matLine>Owner</h3>
										<p matLine class="param-value">{{ cloudProviderParametersPresenter.accountEmail }}</p>
									</mat-list-item>
									</span>
								</mat-list>
							</mat-card-content>
							<mat-card-actions>
							</mat-card-actions>
						</mat-card>
						<!--Get all the sahred credentials from each team the user is a member of??-->
						<span *ngFor="let teamPresenter of profileComponent.teamPresenters">
							
						</span>
					</div>
				</div>
			</mat-tab>

			<mat-tab label="Deployment Parameters">

				<mat-card class="background-card" *ngIf="((!profileComponent.deploymentParametersPresenters || profileComponent.deploymentParametersPresenters.length==0)
				&& (!profileComponent.sharedDeploymentParametersPresenters || profileComponent.sharedDeploymentParametersPresenters.length==0) )">
					No deployment parameters registered/shared yet
				</mat-card>

				<div class="mat-content" *ngIf="profileComponent.deploymentParametersPresenters">
					<span class="wide-summary-card-container">
					<mat-card [routerLink]=" ['/configuration/deploymentparameters/', deploymentParameterPresenter.name]"  *ngFor="let deploymentParameterPresenter of profileComponent.deploymentParametersPresenters" class="credentials-container">
						<span class="mat-toolbar flex-container-wide">
							<mat-icon class="card-type-icon">extension</mat-icon>
							<h3>{{ deploymentParameterPresenter.name }}</h3>
							<span class="fill-remaining-space"></span>
						</span>
						<mat-card-content>
							<mat-list-item *ngFor="let deploymentParameterField of deploymentParameterPresenter.fields">
								<h3 matLine>{{ deploymentParameterField.key }}</h3>
								<p matLine class="param-value">{{ deploymentParameterField.value }}</p>
							</mat-list-item>
						</mat-card-content>
					</mat-card>

					<mat-card  [routerLink]=" ['/configuration/deploymentparameters/shared/', deploymentParameterPresenter.name]" *ngFor="let deploymentParameterPresenter of profileComponent.sharedDeploymentParametersPresenters" class="credentials-container">
						<span class="mat-toolbar flex-container-wide">
							<mat-icon class="card-type-icon">extension</mat-icon>
							<h3>{{ deploymentParameterPresenter.name }}</h3>
							<span class="fill-remaining-space"></span>
						    <p>SHARED</p>
						</span>
						<mat-card-content>
							<mat-list-item *ngFor="let deploymentParameterField of deploymentParameterPresenter.fields">
								<h3 matLine>{{ deploymentParameterField.key }}</h3>
								<p matLine class="param-value">{{ deploymentParameterField.value }}</p>
							</mat-list-item>
						</mat-card-content>
					</mat-card>

					</span>
				</div>

			</mat-tab>

		</mat-tab-group>
	</div>
</cp-profile-component>