<div class="content">
  <img class="hero central-img" [src]="robby">
  <div *ngIf="tokenService.getToken()">
    <div class="hero hero-message">
      <h3><em>You are logged in as</em></h3>
    </div>
    <div class="hero hero-message">
      <a [routerLink]=" ['/profile']"><h3><em>{{ credentialService.getGivenName() }}</em></h3></a>
    </div>
  </div>
  <div *ngIf="!tokenService.getToken()">
    <div class="hero hero-message">
      <h3>Access the EBI Cloud Portal</h3>
    </div>

    <div class="hero hero-message">
      <span class="flex-container">
        <div style="padding-right: 3em;">
          <form id="login-form">
            <div><md-input-container>
              <input mdInput placeholder="Username" 
              [(ngModel)]="username"
              name="username" id="username">
            </md-input-container></div>
            <div><md-input-container>
              <input mdInput type="password" mdInput placeholder="Password" 
              [(ngModel)]="password"
              name="password" id="password">
            </md-input-container></div>
            <div>
              <button id="login-button" style="padding:0.5em;padding-right:0.5em;" md-raised-button
              (click)="authenticate(username, password)">
                Login
              </button>
            </div>
          </form>
        </div>

        <div style="padding-left: 2em; position: relative; border-left: solid; border-width: 1px; border-color: gray;">
          <div style="margin-left:1em;">
            <h5>Or Single Sign On using your ELIXIR identity!</h5>
          </div>
          <div style="position: absolute; bottom: 0;">
            <a style="padding:0.5em; padding-right:1em;" md-raised-button href="{{ssoLink()}}" target="_blank">
              <img style="height: 2em; position:relative;padding-right:0.5em;padding-left:1em;" [src]="elixirLogo">
              SSO
            </a>
          </div>
        </div>
      </span>
    </div>

    <div class="hero hero-message-left">
      <p>The EBI Cloud Portal is offered as a service to ELIXIR and other communities. Users 
        need a freely available <a href="https://www.elixir-europe.org/services/compute/aai">ELIXIR identity</a>
        to access the portal.
      </p>
      <p>
        Obtain your ELIXIR identity <a href="https://www.elixir-europe.org/register">here</a>.
      </p>
    </div>

  </div>
</div>