<cp-login-component #loginComponent>

    <div class="hero login-form" *ngIf="tokenService.getToken()">
      <h2>You are logged in as {{ credentialService.getUsername() }}</h2>
    </div>

    <div class="hero login-form" *ngIf="!tokenService.getToken()">
      <h2>Login to EBI Cloud Portal</h2>
      <h3>Enter your details below</h3>  
      <form>
        <md-input type="text" #username placeholder="Username"></md-input>
        <md-input type="password" #password placeholder="Password"></md-input>
      </form>
      <button md-raised-button (click)="authenticate(username.value, password.value)">Sign In</button>
      <a md-button href="{{ssoLink()}}" target="_blank">SSO</a>
    </div>

</cp-login-component>