/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
:root {
  --primary-color: #389196;
  --secondary-color: #c3c0ab;
  --complementary-color: #e6b222;
  --light-color: rgb(249,249,249);
  --dark-color: #333333;
}

html,body {
  height: 100%;
  min-height: 100%;
  /* background: var(--primary-color); */
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

mat-sidenav-container {
  height: 100%;
}

.ebi-header {
  background-color: var(--primary-color);
  padding: 0px 0px 0px 10px;
  height: 45px;
}

.ebi-header-logo {
  position: relative;
  top: 8px;
  left: 10px;
}

.ebi-header-title {
  text-decoration: none;
  color: var(--light-color);;
  padding-left: 10px;
  position: relative;
  font-size: 1.4em;
}
.ebi-header-link-container {
  float: right;
  padding-right: 15px;
  color: var(--light-color);
}
.ebi-header-link-container mat-select {

  position: relative;
  top:-11px;
  margin-bottom: -15px;
  color: var(--light-color);
}

.ebi-header-link {
  text-decoration: none;
  color: var(--light-color);
}

.ebi-header-link-last {
  text-decoration: none;
  padding-left: 5px;
  color: var(--light-color);
  border-left: solid;
  border-width: 1px;
  border-color: var(--light-color);
}

.ebi-header-link-text {
  position: relative;
  top: 4px;
}

.ebi-header-link-icon {
  position: relative;
  top: 8px;
}

.ebi-header-avatar {
  max-width: 25px;
  max-width: 25px;
  border-radius: 25px;
  position: relative;
  top: 8px;
}

.mat-main-toolbar {
  background: var(--primary-color);
  color: var(--light-color);
  height: 60px;
  /*box-shadow: 0 2px 1px rgba(0,0,0,.4);*/
}

.mat-main-toolbar-title {
  text-decoration: none;
  color: var(--light-color);;
  padding-left: 10px;
  margin-left: 10px;
  padding-top: 2px;
  border-left: solid;
  border-width: 1px;
  border-color: var(--light-color);
  font-weight: lighter;
  font-size: 1.2em;
}

.mat-main-toolbar-link {
  text-decoration: none;
  color: var(--light-color);
  position: absolute;
  right: 100px;
}

.mat-main-toolbar-sidebar-button {
  color: var(--dark-color);
}

.mat-main-toolbar-link-text {
  position: relative;
  bottom: 15px;
  color: var(--light-color);
}

.mat-main-toolbar-link-icon {
  position: relative;
  bottom: 10px;
}

.content {
  position: absolute;
  bottom: 60px;
  top: 110px;
  width: 100%;
  overflow-x: hidden;
}

.content-out {
  position: absolute;
  bottom: 60px;
  top: 45px;
  width: 100%;
  overflow-x: hidden;
}

button.active{
  background: #fff;
  color: #009688;
}
button.active:hover{
  color: #fff;
}
.fill{
  flex: 1 1 auto;
}
.app-state{
  margin: 15px;
  flex: 1;
}
.home{
  flex: 1;
}
.mat-content{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  /*height: 100%;*/
  /*background: white;*/
    background: var(--light-color);
}


.secondary {
  color: rgba(0,0,0,0.54);
}


.resource-summary-column-bigger {
  flex-grow: 3;
}

.resource-summary-column {
  flex-grow: 1;
}

.resource-summary-card {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin: 1em 1em 0em 0em;
}

/*full width card container*/
.wide-summary-card-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
mat-card .flex-container-wide {
  background: white;
}
.wide-summary-card-container mat-card {
  margin: 1em 1em 0em 1em;
}
.wide-summary-card-container mat-card mat-card-content {
  padding-top: 1em;
  padding-left: 1em;
	display: flex;
  flex-flow: row wrap;
}

.wide-summary-card-container mat-card mat-card-content h3 {
	margin-right: 35px;
}
.summary-card-container mat-card {
  margin: 1em 1em 1em 1em;
}

mat-progress-spinner {
  max-width: 25px;
  max-height: 25px;
  position: relative;
  top: 20px;

}
mat-progress-spinner svg {
  max-width: 25px;
  max-height: 25px;

}
.wide-summary-card-container mat-card mat-card-content mat-card-actions {
	position: absolute;
  top: 40px;
  right: 50px;
}

/* In detail card container*/
.detail-card-container {
  margin: 1em;
}
.detail-card-container mat-card {
  padding-bottom: 2em;
}
.detail-card-container mat-card mat-card-actions {
  padding: 25px 0px 0px 10px;
  margin-bottom: 2em;
}
.detail-card-container mat-card mat-card-actions mat-radio-group {
  margin-left: 20px;
}

.flex-container-wide h3 {
  color: var(--dark-color);
  font-weight: lighter;
  margin-left: 25px;
}
.flex-container-wide p {
  position: relative;
  top: 12px;
  margin-left: 10px;
}
.flex-container-wide button {
  right: 10px;
}



.card-container mat-card mat-card-content {
  padding: 16px;
}



.card-container mat-card mat-card-title {
  color: var(--complementary-color);
  font-size: 1.25em;
}

mat-sidenav-component {
  background: rgba(0,0,0,0.03);
}

a.mat-list-item.router-active {
  background: rgba(0,0,0,0.8);
}

mat-input {
  margin: 8px 0;
  width: 100%;
}

.input-full-width {
  width: 100%;
}

.form {
  display: flex;
}

.form mat-card {
  flex-grow: 1;
}


.param-value {
  color: rgba(0,0,0,0.50);
}


.flex-container-wide mat-icon {
  margin-top: 22px;
}

mat-card-subtitle.indented-subtitle {
  padding: 0px 0px 0px 36px;
}

button.button-color-accent {
  background: var(--complementary-color);
  color: var(--light-color);
}

mat-radio-button {
  padding-right: 10px;
}
h1 {
  font-size: 2.6em;
  font-weight: lighter;
}
h2 {
  font-size: 1.8em;
  font-weight: lighter;
}
h3 {
  font-size: 1.4em;
  color: var(--dark-color);
  font-weight: lighter;
}

p {
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.flex-container {
  display: flex;
  flex-flow: row grow;
  justify-content: center;
}
.flex-container span {
  max-width: 30em;
  min-width: 20em;
  margin: 0em 1em 2em 1em;
}

.flex-container-wide {
  display: flex;
  /*flex-flow: row grow;*/
  justify-content: space-between;
}

.flex-container-left {
  display: flex;
}

footer {
  height: 60px !important;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: var(--secondary-color);
  color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  margin: auto auto;
  margin-bottom: 1rem;
}
.hero-message {
  text-align: center;
  margin-left: 37%;
  max-width: 280px;
}
.hero-message-left {
  margin-left: 37%;
  max-width: 280px;
}
.central-img {
  border-radius: 100%;
  margin-top: 2em;
  margin-left: 37%;
  max-width: 280px;
}
.circular-login-img {
  border-radius: 100%;
  margin-top: 2em;
}
.dialog-img-center {
  margin-left: auto;
	margin-right: auto;
	display: block;
}

.dialog-img {

}

.dialog-img-large {

  margin-left: 10%;
}
.dialog-img-xlarge {

  margin-left: 30%;
}
.hero-img {
  margin-top: 2em;
  margin-left: 37%;
  max-width: 280px;
}
.hero-form {
  margin-top: 2em;
  margin-left: 37%;
  max-width: 280px;
}

.thin-bottom-border {
  border-bottom-style: solid; 
  border-bottom-width: 1px;
  border-color: var(--secondary-color);
  margin-bottom: 1em;
}

.inner-toolbar-checkbox {
  padding-left: 20px;
}
.profile-image {
  min-width: 120px;
  min-height: 120px;
}
.logs-text-area {
  min-height: 20em; 
  overflow: auto;
  background: var(--light-color);
}
.logs-text-area span {
  font-family: Courier New, Courier, monospace; 
}

.fill-remaining-space {
  flex: 1 1 auto;
}
.background-card {
  background: var(--light-color);
  box-shadow: 0 0 0;
}

.add-dialog-form mat-card-header mat-card-title h2 {
  position: relative;
  top: -0.5em;
}

.share-application-dialog {
  border-style: none;
}
.share-credentials-dialog {
  display: flex;
  flex-flow: row grow;
}
.share-credentials-dialog form {
  flex-grow: 2;
}
.share-credentials-dialog button {
  margin-left: 10px;
  margin-top: 10px;
  max-height: 2.5em;
}

select {
  border: 0px;
  color: var(--light-color);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  background: var(--primary-color);
  -webkit-appearance: none; 
  -moz-appearance: none;  
}
