<cp-team-component #teamDetail>
  <div class="content">
    <div class="detail-card-container">
      <md-card *ngIf="teamDetail.teamPresenter">
        
        <span class="md-toolbar flex-container-wide">
          <md-icon class="card-type-icon">group</md-icon>
          <h3>{{ teamDetail.teamPresenter.name }}</h3>
          <span class="fill-remaining-space"></span>
          <span *ngIf="teamDetail.teamPresenter.isOwner">
            <button md-icon-button (click)="teamDetail.addMemberDialogShowing=!teamDetail.addMemberDialogShowing">
              <md-icon>group_add</md-icon> 
            </button>
            <button md-icon-button color="warn" (click)="teamDetail.remove('/teams','/error')">
              <md-icon>delete_forever</md-icon> 
            </button>
          </span>
        </span>

        <md-card-content>
          <span> <!-- card content span -->
            <span> <!-- metadata span -->
              <md-list dense>
                <md-list-item *ngIf="!teamDetail.teamPresenter.isOwner">
                  <h3 md-line>Owned by</h3>
                  <p md-line class="param-value">{{ teamDetail.teamPresenter.ownerAccountEmail }}</p>
                </md-list-item>
              </md-list>
              <md-list dense>
                <md-list-item>
                  <h3 md-line>AAP Domain Reference
                    <button md-icon-button color="primary" (click)="domainRefShowing=!domainRefShowing">
                    <md-icon>visibility</md-icon> 
                    </button>
                  </h3>
                  <p *ngIf="domainRefShowing" md-line class="param-value">{{ teamDetail.teamPresenter.domainReference}}</p>
                </md-list-item>
              </md-list>
            </span> <!-- metadata span -->

            <span> <!-- Resources span -->
              <md-list>
                <span class="flex-container-left">
                  <div *ngIf="(!teamDetail.teamPresenter.applicationNames ||  teamDetail.teamPresenter.applicationNames.length==0) && (!teamDetail.teamPresenter.cloudProviderParameterNames || teamDetail.teamPresenter.cloudProviderParameterNames.length==0)">
                    <h3 md-header>Resources</h3>
                    <md-icon>sentiment_neutral</md-icon> 
                    <p>Nothing is shared in within this team...</p>
                  </div>

                  <!-- Applications -->
                  <span class="resource-summary-column" *ngIf="teamDetail.teamPresenter.applicationNames && teamDetail.teamPresenter.applicationNames.length>0">
                    <h3>Applications</h3>
                    <span *ngFor="let applicationName of teamDetail.teamPresenter.applicationNames">
                      <md-card *ngIf="teamDetail.teamPresenter.isOwner" class="resource-summary-card" [routerLink]=" ['/repository/', applicationName]">
                        <md-icon>cloud_queue</md-icon>
                        <p>{{ applicationName }}</p>
                      </md-card>
                      <md-card *ngIf="!teamDetail.teamPresenter.isOwner" class="resource-summary-card" [routerLink]=" ['/repository/shared/', applicationName]">
                        <md-icon>cloud_queue</md-icon>
                        <p>{{ applicationName }}</p>
                      </md-card>
                    </span>
                  </span>
                  
                  <!-- Configurations -->
                  <span class="resource-summary-column" *ngIf="teamDetail.teamPresenter.configurationNames && teamDetail.teamPresenter.configurationNames.length>0">
                    <h3>Configurations</h3>
                    <span *ngFor="let configurationName of teamDetail.teamPresenter.configurationNames">
                      <md-card *ngIf="teamDetail.teamPresenter.isOwner" class="resource-summary-card" [routerLink]=" ['/configuration/', configurationName]">
                        <md-icon>settings_applications</md-icon>
                        <p>{{ configurationName }}</p>
                      </md-card >
                      <md-card *ngIf="!teamDetail.teamPresenter.isOwner" class="resource-summary-card" [routerLink]=" ['/configuration/shared/', configurationName]">
                        <md-icon>settings_applications</md-icon>
                        <p>{{ configurationName }}</p>
                      </md-card>
                    </span>
                  </span>

                  <!-- Cloud provider parameters -->
                  <span class="resource-summary-column" *ngIf="teamDetail.teamPresenter.cloudProviderParameterNames && teamDetail.teamPresenter.cloudProviderParameterNames.length>0">
                    <h3>Cloud Providers</h3>
                    <span *ngFor="let cloudProviderParameterName of teamDetail.teamPresenter.cloudProviderParameterNames">
                      <md-card *ngIf="teamDetail.teamPresenter.isOwner" class="resource-summary-card" [routerLink]=" ['/cloudprovider/', cloudProviderParameterName]">
                        <md-icon>vpn_key</md-icon>
                        <p>{{ cloudProviderParameterName }}</p>
                      </md-card>
                        <md-card *ngIf="!teamDetail.teamPresenter.isOwner" class="resource-summary-card" [routerLink]=" ['/cloudprovider/shared/', cloudProviderParameterName]">
                        <md-icon>vpn_key</md-icon>
                        <p>{{ cloudProviderParameterName }}</p>
                      </md-card>
                    </span>
                  </span>

                  <!-- Deployment parameters -->
                  <span class="resource-summary-column" *ngIf="teamDetail.teamPresenter.configurationDeploymentParameterNames && teamDetail.teamPresenter.configurationDeploymentParameterNames.length>0">
                    <h3>Deployment Parameters</h3>
                    <span *ngFor="let configurationDeploymentParameterName of teamDetail.teamPresenter.configurationDeploymentParameterNames">
                      <md-card *ngIf="teamDetail.teamPresenter.isOwner" class="resource-summary-card" [routerLink]=" ['/configuration/deploymentparameters/', configurationDeploymentParameterName]">
                        <md-icon>extension</md-icon>
                        <p md-line class="param-value">{{ configurationDeploymentParameterName }}</p>
                      </md-card>
                      <md-card *ngIf="!teamDetail.teamPresenter.isOwner" class="resource-summary-card" [routerLink]=" ['/configuration/deploymentparameters/shared/', configurationDeploymentParameterName]">
                        <md-icon>extension</md-icon>
                        <p md-line class="param-value">{{ configurationDeploymentParameterName }}</p>
                      </md-card>
                    </span>
                  </span>

                </span>
            </md-list> <!-- Resources list -->
          </span> <!-- Resources span -->

          <span> <!-- members span -->
            <h3>Members</h3>
              <span *ngIf="(!teamDetail.teamPresenter.memberAccountEmails ||  teamDetail.teamPresenter.memberAccountEmails.length==0)">
                <md-icon>sentiment_neutral</md-icon> 
                <p>There are no additional members in this team...</p>
              </span>
              <md-card *ngFor="let accountEmail of teamDetail.teamPresenter.memberAccountEmails">
                <p>{{ accountEmail }}<button *ngIf="teamDetail.teamPresenter.isOwner" 
                  md-icon-button color="warn" (click)="teamDetail.removeMember(accountEmail, '/error')">
                  <md-icon>highlight_off</md-icon> 
                </button></p>
              </md-card>

          </span> <!-- members span -->

          <span class="share-credentials-dialog" *ngIf="teamDetail.addMemberDialogShowing"> <!-- share controls span -->
            <form #addMemberForm>
              <md-input-container class="input-full-width"><input mdInput type="email" placeholder="Member email (required)" [(ngModel)]="memberAccountEmail" name="memberAccountEmail" autofocus>
              </md-input-container>
            </form>
            <!--<span class="fill-remaining-space"></span>-->
            <button md-raised-button (click)="teamDetail.addMember(memberAccountEmail, '/error'); teamDetail.addMemberDialogShowing = false">
            ADD</button>
          </span> <!-- share controls span -->
          
        </span> <!-- card content span -->
        
      </md-card-content>

      <!--These are the action controls-->
      <md-card-actions>
        <span *ngIf="!teamDetail.teamPresenter.isOwner && !teamDetail.teamPresenter.memberAccountEmails.includes(teamDetail.credentialService.getEmail())">
          <button md-raised-button (click)="requestJoin()">
            JOIN
          </button>
        </span>
      </md-card-actions>
    </md-card>
  </div>
</div>
</cp-team-component>